/* --------------------------------------------------- */

/* header */
.header {
  height: 80px;
}

.header__logo {
  display: flex;
  animation: none;
}

.header__logo-mobile {
  display: none;
}

.header__line {
  margin-bottom: 18px;
}

.header__line {
  height: 5px;
  margin-bottom: 24px;
}

.header__square img {
  width: 32px;
  height: 32px;
  transform: translateY(-1px);
}

.header__Ai4G img {
  width: 110.8px;
  height: 35px;
  transform: translate(-15px, -2px);
}

.header__triangle img {
  width: 37px;
  height: 31px;
}

.header__triangle {
  transform: translateX(-2px);
}

.header__logo-suptitle {
  width: 95px;
  font-size: 9.5px;
  line-height: 10px;
  animation: header-suptext-new-year 1.7s forwards;
}

.header__triangle img {
  animation: header-triangle-new-year 0.9s forwards;
}

.top__title {
  min-width: 95px;
  margin-right: 10px;
  font-size: 24px;
  line-height: 29px;
}

.top__suptitle {
  font-size: 18px;
  line-height: 22px;
}

.top__inner {
  padding-top: 85px;
  display: flex;
  justify-content: center;
}

.top {
  height: 200px;
}

@keyframes header-suptext-new-year {
  0% {
    opacity: 0;
  }

  55% {
    top: 38px;
    left: 90px;
    opacity: 0;
  }

  100% {
    top: 38px;
    left: 22px;
    opacity: 1;
  }
}

@keyframes header-triangle-new-year {
  0% {
    transform: translate(-140px, 0px);
    opacity: 0.1;
  }

  100% {
    transform: translate(-32px, 0px);
    opacity: 1;
  }
}

.header__line {
  margin-bottom: 11px;
}

/* transcribator===================================================================================== */
.body.page-transcribator {
  background-color: #2bf29f;
}

.page-transcribator .footer {
  background-color: #2bf29f;
  background: linear-gradient(180deg, rgb(0, 169, 159), rgba(44, 51, 75, 0) 100%);
}

.page-transcribator .footer__super-wrapper {
  background: none;
}

.page-transcribator .footer__wrapper {
  background-image: none;
}

.page-transcribator .footer__link {
  color: #fff;
}

.page-transcribator .footer__link:hover {
  color: #fff;
}
/* ======================================================== */
/*servises-----*/
.servises {
  background-color: #2bf29f;
  padding: 50px 0;
  background: linear-gradient(180deg, rgb(0, 169, 159), rgba(44, 51, 75, 0) 100%);
  width: 100%;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
}
/*servises__container----------------------*/
.servises__container {
  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

/* .servises__text--------------------------- */
.servises__text {
  font-weight: 700;
  color: #fff;
  max-width: 800px;
  font-size: 24px;
  line-height: 130%;
  @media (max-width: 768px) {
    font-weight: 600;
    font-size: 20px;
  }
  @media (max-width: 460px) {
    font-weight: 500;
    font-size: 18px;
  }
}

.servises__text .black {
  font-weight: 900;
  @media (max-width: 768px) {
    font-weight: 700;
  }
}

.servises__text p:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.servises__items {
  display: flex;
  justify-content: flex-end;
  padding: 70px 0px;
}
@media (max-width: 980px) {
  .servises__items {
    padding: 50px 0px;
    justify-content: start;
  }
}
/* =product================================================================= */
/* product-------------------------------- */
.product {
  padding: 50px 0;
  background-color: #2bf29f;
  color: #150931;
  @media (max-width: 980px) {
    padding: 25px 0px;
  }
}
/* product__container-------------------------------- */
.product__container {
  @media (max-width: 768px) {
    padding: 0 15px;
  }
}
/* .product__content---------------------- */
.product__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (max-width: 768px) {
    gap: 20px;
  }
}
.product__item {
  display: grid;
  grid-template-columns: 40px auto;
  font-weight: 900;
  line-height: 140%;
  font-size: 30px;
  gap: 20px;
  @media (max-width: 768px) {
    font-size: 24px;
    grid-template-columns: 20px auto;
  }
  @media (max-width: 460px) {
    gap: 10px;
    font-size: 20px;
  }
}

.product__number-item {
  color: rgb(255, 0, 138);
}
.product__label {
  text-align: left;
  margin: 0px 0px 20px 0px;
  @media (max-width: 768px) {
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 600px) {
  .product__label br {
    display: none;
  }
}
/* .product__text-item----------------------- */
.product__text-item {
  font-weight: 500;
  max-width: 520px;
  font-size: 18px;
  line-height: 140%;
}

/* -------------//product */
/* =format=================================================== */

/* format---------------- */
.format {
  padding: 50px 0;
  background-color: #2bf29f;
  color: #150931;

  @media (max-width: 980px) {
    padding: 25px 0px;
  }
}

/* .format__container------------------ */
.format__container {
  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

/* .format__body ---------------------*/
.format__body {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.format__content {
  display: flex;
  align-items: center;
  gap: 25px;
}
@media (max-width: 980px) {
  .format__content {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .format__content {
    align-self: center;
  }
}
@media (max-width: 460px) {
  .format__content {
    flex-direction: column;
    gap: 20px;
  }
}
.format__block {
  width: 330px;

  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* .format__title -------------------- */
.format__title {
  margin: 0px 0px 40px 0px;
  font-weight: 900;
  font-size: 22px;
  line-height: 140%;
  @media (max-width: 980px) {
    margin: 0px 0px 20px 0px;
  }
  @media (max-width: 768px) {
    text-align: center;
    max-width: 400px;
  }
}

/* .format__title br-------------------- */
.format__title br {
  @media (max-width: 768px) {
    display: none;
  }
}

/* .format__text -------------------- */
.format__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;

  @media (max-width: 980px) {
    font-size: 18px;
  }
  @media (max-width: 768px) {
    text-align: center;
    max-width: 500px;
    margin: 0px 0px 20px 0px;
  }
}

/* .format__text br-------------------- */
.format__text br {
  @media (max-width: 768px) {
    display: none;
  }
}

/* .format__items------------------ */
.format__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 25px;

  @media (max-width: 980px) {
    gap: 10px;
  }
}

/* .format__item---------------------- */
.format__item {
  font-weight: 800;
  color: #fff;
  height: 80px;
  width: 130px;
  border-radius: 20px;
  background: #150931;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 1;

  @media (max-width: 980px) {
    height: 70px;
    width: 120px;
    font-size: 28px;
  }
  @media (max-width: 768px) {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 25px;
  }

  @media (max-width: 460px) {
    font-size: 18px;
  }
}
.format__item-text {
  font-size: 30px;
  font-weight: 800;
}

/* -------------//format */
/* ===skill================================================== */

/* skill----------------------------- */
.skill {
  background-color: #150931;
  padding: 50px 0;

  @media (max-width: 980px) {
    padding: 35px 0px;
  }
}

/* .skill__container -----------------------------*/
.skill__container {
  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

/* .skill__content----------------------------- */
.skill__content {
  color: #fff;
  display: flex;
  flex-direction: column;
}

/* .skill__title------------------------------------  */
.skill__title {
  font-weight: 800;
  margin: 0px 0px 20px 0px;
  align-self: flex-start;
  max-width: 590px;
  font-size: 40px;
  line-height: 150%;
  color: #fff;
  @media (max-width: 980px) {
    font-size: 32px;
  }
  @media (max-width: 768px) {
    font-size: 26px;
  }
}

/* .skill__text ------------------------------------ */
.skill__text {
  font-weight: 700;
  align-items: end;
  max-width: 670px;
  align-self: flex-end;
  line-height: 140%;
  font-size: 24px;
  @media (max-width: 980px) {
    font-size: 22px;
    font-weight: 600;
  }
  @media (max-width: 768px) {
    font-size: 20px;
    font-weight: 500;
  }
  @media (max-width: 460px) {
    font-size: 18px;
  }
}

/* -------------//skill */

/* ===trancrib============================================================= */

/* trancrib------------------------------------- */
.trancrib {
}

/* .trancrib__container------------------- */
.trancrib__container {
  @media (max-width: 768px) {
    padding: 0px 15px;
  }
}
.trancrib__form {
  display: flex;
  align-items: center;
  padding: 0px 0px 40px 0px;
  min-height: 200px;
  border-radius: 19px;
  height: 200px;
  margin: 0 -46px;
  border-radius: 19px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
  background: transparent;
  align-content: flex-start;
}
.trancrib__form:hover {
  background: #fff;
}
@media (max-width: 980px) {
  .trancrib__form {
    margin: 0;
  }
}
@media (max-width: 570px) {
  .trancrib__form {
    padding: 0px 0px 90px 0px;
  }
}
.trancrib .trancrib__form.dropzone.dz-started {
  background: #fff;
  height: auto;
  min-height: 260px;
}
.trancrib .trancrib__form.dropzone.dz-started .trancrib__img {
  display: none;
}
.trancrib .trancrib__form.dropzone.dz-started .trancrib__text {
  display: none;
}
.trancrib .dropzone .dz-preview {
  min-height: 50px;
  margin: 7px;
  width: 100%;
}
.trancrib .dropzone .dz-preview .dz-image {
  width: 100%;
  height: 60px;
}
.trancrib .dropzone .dz-message {
  text-align: center;
  margin: 0 auto;
  bottom: -65px;
  position: relative;
}
.trancrib .dz-filename {
  position: absolute;
  top: 5px;
  text-align: left;
  width: 100%;
  padding: 0px 60px 0px 0px;
}
.trancrib .dropzone .dz-preview .dz-error-mark,
.trancrib .dropzone .dz-preview .dz-success-mark {
  top: 38px;
  left: auto;
  right: 10px;
}
.trancrib .dropzone .dz-preview .dz-error-mark svg,
.trancrib .dropzone .dz-preview .dz-success-mark svg {
  height: 35px;
  width: 35px;
}
.trancrib .dropzone .dz-preview .dz-details {
  padding: 5px;
}
.trancrib .dropzone .dz-preview .dz-details .dz-size {
  margin-top: 22px;
  font-size: 15px;
  text-align: left;
}
.trancrib .dropzone .dz-preview .dz-details .dz-filename span,
.trancrib .dropzone .dz-preview .dz-details .dz-size span {
  background-color: transparent;
}
.trancrib .dropzone .dz-preview {
  width: 100%;
}
@media (max-width: 560px) {
  .trancrib .dropzone .dz-preview {
    margin: 10px 5px 20px 5px;
  }
}
.trancrib .dz-default.dz-message {
  display: none;
}
.trancrib .dropzone.dz-clickable {
  position: relative;
  z-index: 10;
}
.trancrib .dropzone .dz-preview .dz-error-message {
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 240px;
  background: #fff;
  padding: 10px;
  color: #000;
  border: 1px solid #000;
  height: 50px;
}
.trancrib .dropzone.dz-clickable * {
  cursor: pointer;
}
.trancrib__img {
  position: absolute;
  margin: 0 auto;
  height: 50px;
  width: 56px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20px;
}
.trancrib__text {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 100px;
}
@media (max-width: 768px) {
  .trancrib__text {
    width: 95%;
  }
}
.trancrib__text::after {
  position: absolute;
  content: "Перетащите ваш файл сюда";
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  color: #150931;
  width: 100%;
  text-align: center;
  z-index: 1;
  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 140%;
  }
}
.trancrib__link {
  background: #ff008a;
  bottom: 40px;
  color: #fff;
  width: 822px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 37px;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.trancrib__link:hover {
  background: #150931;
  color: #fff;
}
@media (max-width: 980px) {
  .trancrib__link {
    width: 592px;
    height: 60px;
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 768px) {
  .trancrib__link {
    width: 316px;
    font-size: 18px;
    line-height: 22px;
    bottom: 30px;
  }
}
@media (max-width: 355px) {
  .trancrib__link {
    width: 285px;
    font-size: 17px;
  }
}
.trancrib__link.hidden {
  display: none;
}
.trancrib .trancrib__bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}
@media (max-width: 980px) {
  .trancrib .trancrib__bottom {
    margin: 0 10px;
  }
}
@media (max-width: 570px) {
  .trancrib .trancrib__bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    top: -10px;
  }
}
.trancrib .trancrib__link_add {
  display: none;
}
.trancrib .trancrib__link_add.show {
  display: flex;
  font-size: 18px;
  height: 50px;
  width: 350px;
  margin: 0;
  background: #150931;
  color: #fff;
  bottom: 25px;
  gap: 10px;
}
@media (max-width: 980px) {
  .trancrib .trancrib__link_add.show {
    width: 315px;
  }
}
@media (max-width: 768px) {
  .trancrib .trancrib__link_add.show {
    font-size: 14px;
    line-height: 20px;
    width: 250px;
  }
}
.trancrib .trancrib__link_add.show img {
  width: 20px;
  height: 20px;
}
.trancrib .trancrib__link_proccess {
  display: none;
}
.trancrib .trancrib__link_proccess.show {
  display: flex;
  font-size: 20px;
  height: 50px;
  width: 350px;
  margin: 0;
  bottom: 25px;
  gap: 10px;
}
@media (max-width: 980px) {
  .trancrib .trancrib__link_proccess.show {
    width: 315px;
  }
}
@media (max-width: 768px) {
  .trancrib .trancrib__link_proccess.show {
    font-size: 16px;
    line-height: 20px;
    width: 250px;
  }
}
.trancrib .trancrib__link_proccess.show img {
  width: 20px;
  height: 20px;
}

/* .dropzone .dz-message .dz-button {
	 background: #FF008A;
	 bottom: -30px;
	 color: #fff;
	 width: 822px;
	 height: 80px;
	 margin: 0 auto;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 border-radius: 37px;
	 font-weight: 800;
	 font-size: 30px;
	 line-height: 37px;
	 position: relative;
	 z-index: 10;
	 text-transform: uppercase;
	 transition: all 0.3s ease;

	 &:hover {
		 background: #150931;
		 color: #fff;
	 }

	 @media (max-width: 980px) {
		 width: 592px;
		 height: 60px;
		 font-size: 24px;
		 line-height: 29px;
	 }

	 @media (max-width: 768px) {
		 width: 316px;
		 font-size: 18px;
		 line-height: 22px;
		 bottom: -20px;
	 }

	 @media (max-width: 355px) {
		 width: 285px;
		 font-size: 17px;
	 }
 } */

.modal-oplata {
  display: none;
  width: 610px;
  padding: 68px 59px 35px;
  border-radius: 20px;
}
@media (max-width: 550px) {
  .modal-oplata {
    padding: 35px 20px;
  }
}

.modal-oplata__title {
  margin-bottom: 47px;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #150931;
}
@media (max-width: 550px) {
  .modal-oplata__title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 25px;
  }
}

.modal-oplata__name {
  width: 100%;
  margin-bottom: 45px;
  padding-bottom: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #150931;
  outline: none;
  border: none;
  border-bottom: 1px solid #ff008a;
}
@media (max-width: 400px) {
  .modal-oplata__name {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
  }
}

.modal-oplata__name::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #737373;
}

.modal-oplata__name::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #737373;
}

.modal-oplata__email {
  width: 100%;
  margin-bottom: 45px;
  padding-bottom: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #150931;
  outline: none;
  border: none;
  border-bottom: 1px solid #ff008a;
}
@media (max-width: 400px) {
  .modal-oplata__email {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
  }
}

.modal-oplata__email::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #737373;
}

.modal-oplata__email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #737373;
}

.modal-oplata__phone {
  width: 100%;
  margin-bottom: 45px;
  padding-bottom: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #150931;
  outline: none;
  border: none;
  border-bottom: 1px solid #ff008a;
}
@media (max-width: 400px) {
  .modal-oplata__phone {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
  }
}

.modal-oplata__phone::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #737373;
}

.modal-oplata__phone::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #737373;
}

.modal-oplata__item {
  position: relative;
}

.modal-oplata__item input {
  z-index: 5;
}

.modal-oplata__item input:hover + .just-validate-error-label,
.modal-oplata__item input:focus + .just-validate-error-label {
  display: none;
}

.modal-oplata__label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 400px) {
  .modal-oplata__label {
    margin-bottom: 5px;
  }
}

.modal-oplata__label span {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #150931;
}

.modal-oplata__btn {
  width: 490px;
  height: 80px;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeceb;
  color: #c9c9c9;
  border-radius: 37px;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  border: none;
  transition: all 0.3s;
  pointer-events: none;
}
@media (max-width: 550px) {
  .modal-oplata__btn {
    width: 100%;
    font-size: 20px;
    height: 60px;
  }
}

.modal-oplata__btn.active {
  background: #06ea6f;
  color: #150931;
  pointer-events: all;
  cursor: pointer;
}

.modal-oplata__agree {
  max-width: 430px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #150931;
}

.modal-oplata__agree span {
  color: rgb(3, 89, 255);
}

.modal-oplata__radio {
  width: 45px;
  height: 25px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: none;
}

.modal-oplata__radio:before {
  margin-right: 20px;
  display: inline-block;
  content: url("../img/check-disabled.svg");
  cursor: pointer;
}

.modal-oplata__radio:checked {
  margin-right: 10px;
  margin-left: -10px;
  display: inline-block;
  content: url("../img/check.svg");
}

.modal-oplata__choice {
  margin-bottom: 40px;
  display: flex;
}
@media (max-width: 400px) {
  .modal-oplata__choice {
    flex-direction: column;
    margin: 0;
  }
}

.modal-oplata__left {
  max-width: 140px;
  margin-right: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #150931;
}
@media (max-width: 400px) {
  .modal-oplata__left {
    max-width: none;
    margin: 15px 0 10px 0;
  }
}

.modal-pay {
  display: none;
  width: 610px;
  padding: 68px 59px 35px;
  border-radius: 20px;
}
@media (max-width: 550px) {
  .modal-pay {
    padding: 35px 20px;
  }
}
.modal-pay__title {
  margin-bottom: 47px;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #150931;
}
.modal-pay__title_green {
  color: #2bf29f;
}
@media (max-width: 550px) {
  .modal-pay__title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 25px;
  }
}
.modal-pay__block {
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #150931;
  justify-content: space-between;
  margin: 0px 0px 25px 0px;
}
@media (max-width: 550px) {
  .modal-pay__block {
    flex-direction: column;
    gap: 20px;
  }
}

.modal-pay__item {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-pay__item img {
  height: 30px;
  align-self: flex-end;
}
@media (max-width: 550px) {
  .modal-pay__item img {
    align-self: flex-start;
    margin: 0px 0px 0px 20px;
  }
}

.modal-pay__item input {
  z-index: 5;
  color: #150931;
}

.modal-pay__item input:hover + .just-validate-error-label,
.modal-pay__item input:focus + .just-validate-error-label {
  display: none;
}

.modal-pay__label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 550px) {
  .modal-pay__label {
    margin-bottom: 5px;
  }
}

.modal-pay__label span {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #150931;
}

.modal-pay__btn {
  width: 490px;
  height: 80px;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeceb;
  color: #c9c9c9;
  border-radius: 37px;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  border: none;
  transition: all 0.3s;
  pointer-events: none;
}
@media (max-width: 550px) {
  .modal-pay__btn {
    width: 100%;
    font-size: 20px;
    height: 60px;
  }
}

.modal-pay__btn.active {
  background: #06ea6f;
  color: #150931;
  pointer-events: all;
  cursor: pointer;
}

.modal-pay__agree {
  max-width: 430px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #150931;
}

.modal-pay__agree span {
  color: rgb(3, 89, 255);
}

.modal-pay__radio {
  width: 45px;
  height: 25px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: none;
}

.modal-pay__radio:before {
  margin-right: 20px;
  display: inline-block;
  content: url("../img/check-disabled.svg");
  cursor: pointer;
}

.modal-pay__radio:checked {
  margin-right: 10px;
  margin-left: -10px;
  display: inline-block;
  content: url("../img/check.svg");
}
/* sent--------- */
.file-sent {
  display: none;
  width: 610px;
  height: 311px;
  padding-top: 58px;
  background: #2bf29f;
  border-radius: 20px;
}
.file-sent__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.file-sent__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #150931;
  text-transform: uppercase;
}
.file-sent__title_white {
  color: #fff;
  margin: 0px 0px 50px 0px;
}
@media (max-width: 550px) {
  .file-sent__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
  }
  .file-sent.fancybox-content {
    padding: 40px 20px 20px 20px;
    height: auto;
  }
}

/* duration-info */
.duration-info {
  position: absolute;
  top: 14px;
  right: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 17px;
  font-size: 13px;
  color: #150931;
  z-index: 10;
}
@media (max-width: 768px) {
  .duration-info {
    left: 81px;
    top: 26px;
    width: fit-content;
    padding: 4px 10px;
  }
}
@media (max-width: 350px) {
  .duration-info {
    left: 75px;
    padding: 4px 5px;
    font-size: 10px;
  }
}

.dz-remove {
  font-size: 13px;
  color: #150931;
}
.trancrib__body {
  position: relative;
}
.alert-info {
  color: #ff008a;
  font-size: 13px;
  position: absolute;
  top: -40px;
  left: 0px;
  z-index: 10;
  background-color: rgba(255, 255, 255);
  padding: 5px 10px;
  border-radius: 17px;
  border: 1px solid #ff008a;
  display: none; /* Изначально скрыт */
}
/* кнопка удаления файла */
.dz-remove {
  font-size: 13px !important;
  margin: 3px 0px 0px 10px;
  font-weight: 600;
  position: relative;
  padding-left: 20px;
  color: #150931;
}

.dz-remove::before {
  content: "\2715"; /* Символ крестика */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
  color: #150931;
}
@media (max-width: 560px) {
  .dz-remove {
    margin: 3px 0px 0px 5px;
    padding-left: 15px;
  }
  .dz-remove::before {
    font-size: 11px;
  }
}
.dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #e4e4e770;
}

/* статус загрузки */
#upload-progress {
  font-size: 13px !important;
  margin: -15px 0px 0px -5px;
  font-weight: 500;
  color: #150931;
  text-align: right;
  width: 150px !important;
  position: relative;
  left: 480px;
  top: -45px;
}
@media (max-width: 980px) {
  #upload-progress {
    left: 268px;
  }
}
.dropzone .dz-preview .dz-progress {
  top: 30px;
  left: 400px;
}
@media (max-width: 980px) {
  .dropzone .dz-preview .dz-progress {
    left: 467px;
  }
}
@media (max-width: 570px) {
  .dropzone .dz-preview .dz-progress {
    left: 316px;
    top: 44px;
  }
  #upload-progress {
    left: 280px;
    text-align: left;
    font-size: 10px !important;
  }
}
.price-info {
  top: -10px;
  background: #ffffff;
  bottom: 40px;
  color: #150931;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 37px;
  font-weight: 700;
  font-size: 18px;
  line-height: 33px;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
}
@media (max-width: 560px) {
  .price-info {
    top: -18px;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .trancrib .dropzone .dz-preview .dz-image {
    height: 80px;
  }
  .dropzone .dz-preview .dz-progress {
    left: 50px;
    top: 62px;
  }
  #upload-progress {
    top: -27px;
    right: -117px;
    left: inherit;
    text-align: right;
  }
}

/* .offer-trans=============================================== */
.offer-trans {
  margin: 80px 0px 0px 0px;
  color: #000;
  padding: 50px 0px;

  @media (max-width: 768px) {
    margin: 50px 0px 0px 0px;
    padding: 50px 0px 30px 0px;
    position: relative;
  }
}

/* .offer-trans__container -----------------------*/
.offer-trans__container {
  max-width: 1400px;
  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

/* .offer-trans__body--------------------------------*/
.offer-trans__body {
  display: grid;
  grid-template-columns: auto 450px;
  @media (max-width: 980px) {
    grid-template-columns: auto 300px;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* .offer-trans__content --------------------------------- */
.offer-trans__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 15px;

  @media (max-width: 768px) {
    width: 100%;
    gap: 15px;
    margin: 0;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }
}

/* .offer-trans__overhead -------------------------------*/
.offer-trans__overhead {
  align-self: start;
  background: #fff;
  @media (max-width: 768px) {
    align-self: center;
  }
}

/* .offer-trans__bottom -------------------------------*/
.offer-trans__bottom {
  display: flex;
  gap: 20px;
  align-items: center;

  @media (max-width: 768px) {
    gap: 10px;
    flex-direction: column-reverse;
  }
}

/* .offer-trans__clarification  -------------------*/
.offer-trans__clarification {
  line-height: 150%;
  max-width: 200px;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 16px;
    text-align: center;
    max-width: none;
  }
}

/* .offer-trans__title ------------------------ */
.offer-trans__title {
  max-width: 780px;
  line-height: 120%;
  font-size: 40px;
  font-weight: 900;

  @media (max-width: 980px) {
    max-width: 495px;
    font-size: 36px;
  }

  @media (max-width: 768px) {
    max-width: none;
    font-size: 26px;
  }
}

/* .offer-trans__subtitle-------------------------*/
.offer-trans__subtitle {
  font-size: 30px;
  font-weight: 600;
  line-height: 143%;
  color: #27272a;
  letter-spacing: -0.2px;
  max-width: 780px;

  @media (max-width: 980px) {
    max-width: 495px;
    font-size: 28px;
  }

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 130%;
  }
}
/* .offer-trans__subtitle span-------------------------*/
.offer-trans__subtitle span {
  font-weight: 800;
}
/* .offer-trans__subtext-------------------------*/
.offer-trans__text {
  font-size: 18px;
  max-width: 580px;
  line-height: 130%;
}
/* .offer-trans__btn -----------------------*/
.offer-trans__btn {
  height: 60px;
  padding: 10px 45px;
  width: auto;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.offer-trans__btn:hover {
  background: #150931;
  color: #fff;
}
/* .offer-trans__image --------------------------- */
.offer-trans__image {
  @media (max-width: 1150px) {
    align-self: center;
  }
  @media (max-width: 768px) {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
/* .offer-trans__image img--------------------------- */
.offer-trans__image img {
  max-width: 540px;
  @media (max-width: 1150px) {
    max-width: 400px;
  }
  @media (max-width: 980px) {
    max-width: 300px;
  }
  @media (max-width: 768px) {
    max-width: 136px;
    opacity: 0.4;
  }
}

/* =servise===================================================== */
.servise {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 768px) {
    gap: 10px;
  }
}

/*  .servise__item------------------------------- */
.servise__item {
  display: flex;
  align-items: center;
  gap: 30px;
  @media (max-width: 768px) {
    gap: 20px;
  }
}

/* servise__img-------------------------------------------------- */
.servise__img {
  height: 40px;
  @media (max-width: 768px) {
    height: 30px;
  }
}

/* .servise__block------------------------------ */
.servise__block {
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  text-align: left;
  @media (max-width: 768px) {
    font-size: 22px;
  }
}

/* .servise__title ------------------------------*/
.servise__title {
  color: #fff;
}

/* .servise__subtitle ------------------------------ */
.servise__subtitle {
  font-size: 24px;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

/* .servise__text------------------------------ */
.servise__text {
  color: #150931;
}
.servise__text:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

/* ====================================================== */
#button-hipe {
  position: relative;
  top: -100px;
}

/* .selection-trans======================================================================= */
.selection-trans {
  background: #2bf29f;
  background: linear-gradient(180deg, rgb(0, 169, 159), rgba(44, 51, 75, 0) 100%);
  color: #000;
  padding: 50px 0px;

  @media (max-width: 768px) {
    padding: 30px 0px;
  }
}

/* .selection-trans__container -----------------------*/
.selection-trans__container {
  max-width: 1400px;
  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

/* 	.selection-trans__body -----------------------*/
.selection-trans__body {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  @media (max-width: 980px) {
    flex-direction: column;
  }
}

/* .selection-trans__content----------------------- */
.selection-trans__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: #fff;

  @media (max-width: 980px) {
    width: 100%;
  }
}

/* .selection-trans__image----------------------- */
.selection-trans__image {
  align-self: center;
  display: flex;
  flex: 1 1 40%;

  @media (max-width: 980px) {
    width: 60%;
    order: 3;
    justify-content: center;
    margin: 24px 0px 0px 0px;
  }
}

.selection-trans__image img {
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

/* .selection-trans__overhead -----------------------*/
.selection-trans__overhead {
  margin: 0px 0px 24px 0px;
  background-color: #fff;

  @media (max-width: 980px) {
    order: 1;
    align-self: center;
  }
}

/* .selection-trans__title----------------------- */
.selection-trans__subtitle {
  max-width: 580px;
  margin: 0px 0px 50px 0px;
  font-weight: 600;
  line-height: 140%;
  font-size: 26px;
  text-align: center;

  @media (max-width: 980px) {
    order: 2;
    max-width: none;
    margin: 0px 0px 24px 0px;
    text-align: center;
    font-size: 22px;
  }
}

/* .selection-trans__bottom----------------------- */
.selection-trans__bottom {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 980px) {
    display: flex;
    flex-direction: column;
    order: 5;
    justify-items: center;
    align-items: center;
  }

  @media (max-width: 460px) {
    grid-template-columns: 1fr;
  }
}

/* .selection-trans__item -----------------------*/
.selection-trans__item {
  max-width: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 143%;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

/* .selection-trans__check-----------------------  */
.selection-trans__check {
  margin: 0px 0px 20px 0px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;

  @media (max-width: 460px) {
    margin: 0px 0px 10px 0px;
    width: 28px;
    height: 28px;
  }
}

/* 	.selection-trans__title-bottom -----------------------*/
.selection-trans__title-bottom {
  margin: 0px 0px 6px 0px;
  color: #000;
  font-weight: 500;
}

/* .selection-trans__content span------------------------ */
.selection-trans__content span {
  font-weight: 600;
  font-size: 21px;
  margin: 0px 0px 10px 0px;
  display: block;
  color: #fff;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

/* .selection-trans__content ul----------------------- */
.selection-trans__content ul {
  margin: 5px 0px 0px 10px;
}

/* .selection-trans__content li --------------------- */
.selection-trans__content li {
  position: relative;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 15px;
}

/* .selection-trans__content li::before --------------- */
.selection-trans__content li::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  left: 0;
  top: 7px;
  background-color: #000;
  border-radius: 50%;
}

/* =faq========================================== */
.faq {
  background: linear-gradient(180deg, rgb(0, 169, 159), rgba(44, 51, 75, 0) 100%);
  padding: 50px 0px;
  color: #fff;

  @media (max-width: 768px) {
    padding: 30px 0px;
  }
}

.faq__container {
  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

/* .faq__content----------------------------- */
.faq__content {
  display: flex;
  flex-direction: column;
}

/* .faq__overhead -----------------------*/
.faq__overhead {
  margin: 0px 0px 24px 0px;
  background-color: #fff;
  align-self: center;
}

/* .faq__title-----------------------*/
.faq__title {
  margin: 0px 0px 50px 0px;
  font-weight: 600;
  line-height: 140%;
  font-size: 26px;
  text-align: center;
  @media (max-width: 980px) {
    margin: 0px 0px 24px 0px;
    font-size: 22px;
  }
}

/* .faq__block----------------------------- */
.faq__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .faq__item -----------------------------*/
.faq__item {
  border: 1px solid #fff;
  border-radius: 20px;
}

.faq__item-title {
  cursor: pointer;
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  @media (max-width: 768px) {
    font-size: 18px;
  }
  @media (max-width: 460px) {
    padding: 15px 15px 10px 15px;
  }
}

.faq__item p {
  display: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  padding: 20px;
  padding: 0 20px 20px;
  overflow: hidden;
  animation: slideUp 3s ease forwards;
  @media (max-width: 768px) {
    font-size: 16px;
  }
  @media (max-width: 460px) {
    padding: 0 15px 15px;
  }
}

.faq__item.active p {
  opacity: 1;
  height: 100%;
  display: block;
  animation: slideDown 1s ease forwards;
}
.faq__icon {
  margin-left: 10px;
  font-weight: bold;
  font-size: 22px;
  vertical-align: middle;
}
/* .offered=============================================== */
.offered {
  color: #000;
  padding: 50px 0px;

  @media (max-width: 768px) {
    padding: 30px 0px;
    position: relative;
  }
}

/* .offered__container -----------------------*/
.offered__container {
  max-width: 1400px;

  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

/* .offered__body--------------------------------*/
.offered__body {
  display: grid;
  grid-template-columns: 450px auto;
  gap: 100px;
  @media (max-width: 1150px) {
    gap: 50px;
  }
  @media (max-width: 980px) {
    grid-template-columns: 300px auto;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* .offered__content --------------------------------- */
.offered__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 15px;

  @media (max-width: 768px) {
    width: 100%;
    gap: 15px;
    margin: 0;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }
}

/* .offered__overhead -------------------------------*/
.offered__overhead {
  align-self: start;
  background: #fff;
  @media (max-width: 768px) {
    align-self: center;
  }
}

/* .offered__bottom -------------------------------*/
.offered__bottom {
  display: flex;
  gap: 20px;
  align-items: center;

  @media (max-width: 768px) {
    gap: 10px;
    flex-direction: column-reverse;
  }
}

/* .offered__clarification  -------------------*/
.offered__clarification {
  line-height: 150%;
  max-width: 200px;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 16px;
    text-align: center;
    max-width: none;
  }
}

/* .offered__title ------------------------ */
.offered__title {
  max-width: 780px;
  line-height: 120%;
  font-size: 40px;
  font-weight: 900;

  @media (max-width: 980px) {
    max-width: 495px;
    font-size: 36px;
  }

  @media (max-width: 768px) {
    max-width: none;
    font-size: 26px;
  }
}

/* .offered__subtitle-------------------------*/
.offered__subtitle {
  font-size: 30px;
  font-weight: 600;
  line-height: 143%;
  color: #27272a;
  letter-spacing: -0.2px;
  max-width: 780px;

  @media (max-width: 980px) {
    max-width: 495px;
    font-size: 28px;
  }

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 130%;
  }
}

/* .offered__subtitle span-------------------------*/
.offered__subtitle span {
  font-weight: 800;
}

/* .offered__subtext-------------------------*/
.offered__text {
  font-size: 18px;
  max-width: 580px;
  line-height: 130%;
}

/* .offered__btn -----------------------*/
.offered__btn {
  height: 60px;
  padding: 10px 45px;
  width: auto;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

/* .offered__btn:hover-----------------------*/
.offered__btn:hover {
  background: #150931;
  color: #fff;
}

/* .offered__image --------------------------- */
.offered__image {
  @media (max-width: 1150px) {
    align-self: center;
  }
  @media (max-width: 768px) {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/* .offered__image img--------------------------- */
.offered__image img {
  @media (max-width: 1150px) {
  }
  @media (max-width: 980px) {
  }
  @media (max-width: 768px) {
    max-width: 136px;
    opacity: 0.4;
  }
}
