@use '../base/variables' as *;
@use '../base/mixins' as *;

.table {
  margin: 20px 0 50px 0;
  width: 100%;
  border-collapse: collapse;

  @include respond-to(800px) {
    display: none;
  }

  td:first-child {
    color: #000;
    font-weight: 500;
  }

  td {
    padding: 10px;
    border: none;
    border-bottom: 1px solid $color-accent;
  }
}

.table-flex {
  margin: 0 0 30px 0;
  width: 100%;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  gap: 12px;
  flex-direction: column;

  &__item div:first-child {
    color: #000;
    font-weight: 500;
    font-size: 13px;
  }

  @media (min-width: 800px) {
    display: none;
  }
}