@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.mentors {
  &__wrapper {
    padding-top: 35px;
    background: linear-gradient(180deg, $color-container-bg 0%, rgba($color-container-bg, 0) 102.81%);

    @include respond-to(600px) {
      padding-top: 10px;
    }
  }

  &__title {
    margin-bottom: 55px;
    font-weight: 700;
    font-size: $choice-title-size; // 38px
    line-height: 46px;
    text-align: center;
    color: $color-text;
    font-family: $font-main;

    @include respond-to(768px) {
      font-size: 27px;
      line-height: 33px;
    }

    @include respond-to(600px) {
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 25px;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;

    @include respond-to(687px) {
      justify-content: space-around;
    }

    @include respond-to(480px) {
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;

    @include respond-to(687px) {
      flex-direction: column;
    }

    &.ci-2 {
      margin: 0px 35px 0 30px;

      @include respond-to(687px) {
        margin: 0;
      }

      // сброс
    }

    &:first-child {
      @include respond-to(687px) {
        margin-right: 6px;
      }
    }

    &:last-child {
      @include respond-to(687px) {
        margin-left: 6px;
      }
    }
  }

  &__img {
    margin-right: 30px;
    display: flex;

    @include respond-to(687px) {
      margin-bottom: 18px;
      margin-right: 0;
    }

    img {
      min-width: 103px;
      max-width: 103px;
      height: 137px;
      border-radius: 9px;
    }
  }

  &__name {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: $color-text;
    font-family: $font-main;

    @include respond-to(768px) {
      margin-bottom: 13px;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__text {
    max-width: 280px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $color-text;
    font-family: $font-main;

    @include respond-to(768px) {
      font-size: 12px;
      line-height: 17px;
    }

    @include respond-to(687px) {
      max-width: 270px;
    }

    &.mt-2 {
      max-width: 255px;

      @include respond-to(687px) {
        max-width: 240px;
      }
    }
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid;
    color: $color-link;
    z-index: 5;
    transition: all 0.3s;
    font-family: $font-main;

    &:hover {
      color: $color-link-hover;
    }
  }

  &__line {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    overflow: hidden;

    @include respond-to(768px) {
      margin-top: 20px;
    }

    @include respond-to(600px) {
      margin-bottom: 45px;
    }

    &-bg-1,
    &-bg-3 {
      display: flex;

      @include respond-to(794px) {
        width: 37px;
        height: 54px;
      }
    }

    &-bg-2 {
      width: 100%;
      height: 2px;
      margin-left: 30px;
      transform: translateX(-110%);
      transition: all 1.5s;
      pointer-events: none;

      @include respond-to(794px) {
        margin-left: 10px;
      }

      img {
        width: 100%;
      }

      &.active {
        transform: translateX(0%);
      }
    }

    &-2 {
      @include respond-to(980px) {
        margin: 0 -50px 0 20px;
      }
    }
  }
}