<!doctype html>
<html lang="ru">
  @@include('../partials/head.html', { "title": "{{TITLE}}", "description": "{{DESCRIPTION}}" })

  <body class="body">
    <div class="wrapper">
      @@include('../partials/header.html', {})

      <main class="page">
        <section class="technics" id="top">
          <div class="technics__container">
            <ul class="technics__bread-crumbs">
              <li>
                <a href="../index.html">Главная</a>
              </li>

              <li>
                <a href="../technics.html">Техники</a>
              </li>

              <li>{{TITLE}}</li>
            </ul>

            <div class="technics__body">
              <!-- Верх страницы -->

              <div class="technics__top">
                <h1 class="technics__title title">{{TITLE}}</h1>

                <div class="technics__img">
                  <img src="../{{IMAGE}}" alt="{{TITLE}}" loading="lazy" />
                </div>
              </div>

              <!-- Описание -->

              <div>
                <h2 class="technics__label label">Описание:</h2>

                <p>{{DESCRIPTION}}</p>
              </div>

              <!-- Категория -->

              <div>
                <h2 class="technics__label label">Категория техники:</h2>

                <p>{{CATEGORY}}</p>
              </div>

              <!-- Время -->

              <div>
                <h2 class="technics__label label">Время:</h2>

                <p>{{TIME}} минут</p>
              </div>

              <!-- Зачем -->

              <div>
                <h2 class="technics__label label">Зачем:</h2>

                <div class="technics__content">
                  <p>{{WHY}}</p>
                </div>
              </div>

              <!-- Как работает -->

              <div>
                <h2 class="technics__label label">Как это работает:</h2>

                <div class="technics__content">
                  <p>{{HOWWORKS}}</p>
                </div>
              </div>

              <!-- Алгоритм выполнения -->

              <div>
                <h2 class="technics__label label">Алгоритм выполнения:</h2>

                <ol class="technics__list">
                  {{STEPS}}
                </ol>
              </div>

              <!-- Дополнительные упражнения -->

              <div>
                <h2 class="technics__label label">Дополнительные упражнения:</h2>

                <div class="technics__content">
                  <ul>
                    {{EXTRA}}
                  </ul>
                </div>
              </div>

              <!-- Литература -->

              <div class="technics__catalog">
                <div class="technics__label label">Почитать больше о технике:</div>

                <ul>
                  {{LITERATURE}}
                </ul>
              </div>

              <!-- Рекомендуем прочитать -->

              <div class="technics__catalog">
                <div class="technics__label label">Рекомендуем прочитать:</div>

                <ul>
                  {{READING}}
                </ul>
              </div>

              <!-- Ссылки -->

              <div class="technics__links">{{TAGS}}</div>
            </div>
          </div>
        </section>
      </main>
    </div>

    @@include('../partials/footer.html', {}) @@include('../partials/js.html', {})
  </body>
</html>
