body {
    margin: 0;
    background: radial-gradient(at top, #03045e, #14213d);
}

.containers {
    display: block;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
}

h2
{
 color: #473198;
 border: 7px solid #f72585;
 border-radius: 20px;
 background: #e9ecef;
 text-align: center;
}

h3
{
 color: #473198;
 border: 7px solid #38b000;
 border-radius: 20px;
 background: #e9ecef;
 text-align: center;
}

h1
{
 color: #473198;
 text-align: center;
}
.cube {
    position: absolute;
    top: 90vh;
    left: 80vw;
    width: 10px;
    height: 10px;
    border: solid 1px #FFFFFF;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
    z-index: -1;
}

.cube:nth-child(2n) {
    border-color: #FFF ;
    z-index: -1;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 55vh;
    z-index: -1;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
    z-index: -1;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
    z-index: -1;
}

.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
    z-index: -1;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
    z-index: -1;
}

.cube:nth-child(7) {
    animation-delay: 3s;
    left: 30vw;
    top: 13vh;
    z-index: -1;
}

.cube:nth-child(8) {
    animation-delay: 5s;
    left: 50vw;
    top: 68vh;
    z-index: -1;
}

.cube:nth-child(9) {
    animation-delay: 9s;
    left: 5vw;
    top: 25vh;
    z-index: -1;
}

.cube:nth-child(10) {
    animation-delay: 2s;
    left: 65vw;
    top: 78vh;
    z-index: -1;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}