@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,italic,500,700,900);
@charset "UTF-8";
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow-up:before {
  content: "\e905";
}

._icon-exit:before {
  content: "\e903";
  color: #09244b;
}

._icon-arrow-down:before {
  content: "\e900";
}

._icon-bell:before {
  content: "\e901";
}

._icon-camera:before {
  content: "\e902";
}

._icon-search:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.75rem;
}

.button {
  display: inline-flex;
  padding: 0px 0px;
}
.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:focus + .checkbox__label:before {
  box-shadow: 0 0 5px #000;
}
.checkbox__input:checked + .checkbox__label:before {
  background: #000;
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 10px;
}
.checkbox__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.options__item {
  position: relative;
  cursor: pointer;
}
.options__item:not(:last-child) {
  margin-bottom: 0.3125em;
}
.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.options__input:focus + .options__label:before {
  box-shadow: 0 0 5px #000;
}
.options__input:checked + .options__label:after {
  transform: scale(1);
}
.options__label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.options__label:before {
  content: "";
  align-self: flex-start;
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  border-radius: 50%;
  border: 1px solid #a7a9ac;
}
.options__label:after {
  content: "";
  transition: all 0.3s ease 0s;
  transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 5px;
}
.select {
  position: relative;
}
.select__body {
  position: relative;
}
.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}
.select__value {
  display: flex;
  align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}
.select__value > * {
  flex: 1 1 auto;
}
.select__value:after {
  content: "";
  align-self: stretch;
  flex: 0 0 10px;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}
._select-open .select__value:after {
  transform: rotate(-180deg);
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}
.select__text {
  flex: 1 1 auto;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}
.select__option._select-selected {
  background-color: #eee;
}
@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
.select__row {
  display: inline-flex;
  align-items: center;
}
.select._select-open {
  z-index: 5;
}
._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  font-family: "Ruberoid";
  font-size: 0.9375rem;
  line-height: 140%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #9CD3A3;
  box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
  border-radius: 1.0625rem;
  transition: all 0.3s ease 0s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 55px;
  position: relative;
  font-weight: 700;
  z-index: 10;
}
.button::after {
  content: "";
  position: absolute;
  z-index: 8;
  background: #FFFFFF;
  opacity: 0.45;
  border-radius: 20px;
  width: 210px;
  height: 75px;
}
.button:hover {
  background: #54E165;
}
.button:active {
  background: #000;
}

.header {
  font-family: "Montserrat";
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  padding: 0.625rem 0;
}
.header__logo {
  position: relative;
  font-size: 4rem;
  font-weight: 500;
  line-height: 120%;
  transition: all 0.3s ease 0s;
  min-width: 120px;
}
.header__logo span {
  position: absolute;
  left: 45px;
  bottom: -6px;
  font-size: 45px;
  color: #E7E3D4;
  font-weight: 800;
}
.header__logo:hover {
  color: #B23850;
}
.header__profile {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease 0s;
}
.header__profile img {
  width: 20px;
  height: 20px;
}
.header__profile:hover {
  color: #8590AA;
}
@media (max-width: 61.99875em) {
  .header__profile {
    gap: 20px;
    flex-direction: row;
  }
}
@media (max-width: 47.99875em) {
  .header__profile {
    gap: 10px;
    flex-direction: row;
  }
}
.header__search {
  position: relative;
}
.header__input {
  width: 200px;
  background: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 12px;
  transition: all 0.3s ease 0s;
  border: 1px solid #E7E3D4;
  box-shadow: 2px 8px 16px rgba(194, 198, 208, 0.06);
  border-radius: 5px;
  padding: 10px;
}
.header__input::before {
  font-size: 1.25rem;
  color: #000;
  transition: all 0.3s ease 0s;
}
.header__input:hover {
  background: #F9F7EF;
  color: #3B8BEB;
}
@media (max-width: 47.99875em) {
  .header__input {
    width: 90%;
    min-height: 50px;
  }
}
.header__button {
  position: absolute;
  right: 0;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  margin: 0 10px 0 0;
  transition: all 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .header__button {
    right: 10%;
  }
}
.header__button:active {
  transform: translateY(1px);
  background: #F9F7EF;
}
.header__button::before {
  font-size: 1.25rem;
  color: #000;
  transition: all 0.3s ease 0s;
}
.header__button:hover {
  color: #000;
  transition: all 0.3s ease 0s;
}
.header__button:hover::before {
  color: #3B8BEB;
}
.header__image {
  align-items: center;
  background-color: #F9F7EF;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-size: 24px;
  font-weight: 700;
  height: 30px;
  line-height: 46px;
  width: 30px;
  transition: all 0.3s ease 0s;
}
.header__image:hover {
  background-color: #E7E3D4;
}
.header__image:hover .account__word {
  display: none;
}
.header__image:hover .account__word_hidden {
  display: block;
}
.header__word_hidden {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #2E363E;
  text-align: center;
}
@media (max-width: 29.99875em) {
  .header__word_hidden {
    font-size: 10px;
  }
}
.header__exit::before {
  font-size: 1.25rem;
  color: #000;
  transition: all 0.3s ease 0s;
}
.header__exit:hover {
  color: #000;
  transition: all 0.3s ease 0s;
}
.header__exit:hover::before {
  color: #3B8BEB;
}
.header__bell::before {
  font-size: 1.25rem;
  color: #000;
  transition: all 0.3s ease 0s;
}
.header__bell:hover {
  color: #000;
  transition: all 0.3s ease 0s;
}
.header__bell:hover::before {
  color: #3B8BEB;
}

@media (max-width: 61.99875em) {
  .menu {
    width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 15px;
    position: relative;
    z-index: 12;
  }
  .menu-open .menu {
    background: #F9F7EF;
  }
}
.menu__body {
  position: relative;
}
@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #F9F7EF;
    transition: left 0.3s ease 0s;
    padding: 70px 15px 30px 15px;
    z-index: 3;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    transition: left 0.3s ease 0s;
    background-color: #F9F7EF;
    z-index: 25;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  color: #495E4C;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
@media (max-width: 61.99875em) {
  .menu__list {
    flex-direction: column;
    font-size: 18px;
    align-items: start;
    margin-bottom: 20px;
  }
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 3px;
  padding: 5px 0px;
  position: relative;
}
.menu__item_logo {
  display: none;
}
@media (max-width: 61.99875em) {
  .menu__item_logo {
    display: block;
  }
}
@media (max-width: 61.99875em) {
  .menu__item {
    justify-content: start;
  }
}
.menu__link {
  transition: all 0.3s ease 0s;
  line-height: 142.8571428571%;
  font-weight: 500;
}
.menu__link:hover {
  color: #3B8BEB;
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.5625rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 15;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
    border-radius: 2px;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.account {
  margin: 50px 0px;
}
@media (max-width: 47.99875em) {
  .account {
    margin: 20px 0px;
  }
}
.account__body {
  display: flex;
  gap: 40px;
}
@media (max-width: 47.99875em) {
  .account__body {
    flex-direction: column;
  }
}
@media (max-width: 47.99875em) {
  .account__column-left {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 47.99875em) {
  .account__logo {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
}
@media (max-width: 29.99875em) {
  .account__logo {
    flex-direction: column;
    align-items: flex-start;
  }
}
.account__image-box {
  position: relative;
  margin: 0px 0px 30px 0px;
}
.account__image-box img {
  position: absolute;
  bottom: 0;
  left: 90px;
  width: 22px;
  height: 18px;
}
@media (max-width: 29.99875em) {
  .account__image-box img {
    left: 50px;
  }
}
@media (max-width: 47.99875em) {
  .account__image-box {
    margin: 0px 30px 0px 0px;
  }
}
@media (max-width: 29.99875em) {
  .account__image-box {
    margin: 0px 0px 30px 0px;
  }
}
.account__image {
  align-items: center;
  background-color: #F9F7EF;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-size: 38px;
  font-weight: 700;
  height: 120px;
  line-height: 46px;
  width: 120px;
  transition: all 0.3s ease 0s;
}
.account__image:hover {
  background-color: #E7E3D4;
}
.account__image:hover .account__word {
  display: none;
}
.account__image:hover .account__word_hidden {
  display: block;
}
@media (max-width: 29.99875em) {
  .account__image {
    height: 70px;
    width: 70px;
  }
}
.account__word_hidden {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #2E363E;
  text-align: center;
}
@media (max-width: 29.99875em) {
  .account__word_hidden {
    font-size: 10px;
  }
}
.account__name {
  transition: all 0.3s ease 0s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}
.account__name:hover {
  color: #8590AA;
}
@media (max-width: 47.99875em) {
  .account__name {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
}
.account__sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.account__sidebar-link {
  transition: all 0.3s ease 0s;
  line-height: 142.8571428571%;
}
.account__sidebar-link:hover {
  color: #3B8BEB;
}

.user-data-main__title {
  font-size: 20px;
  font-weight: 600;
  margin: 0px 0px 20px 0px;
}

.user-data-main__content-block {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 29.99875em) {
  .user-data-main__content-block {
    flex-direction: column;
  }
}

.text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #E7E3D4;
  box-shadow: 2px 8px 16px rgba(194, 198, 208, 0.06);
  border-radius: 5px;
  padding: 10px;
}
.text-block img {
  width: 100px;
}
.text-block .text-block__title {
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 10px 0;
}
.text-block .text-block__subtitle {
  opacity: 0.8;
  margin: 0 0 10px 0;
}
.text-block__line {
  height: 1px;
  width: 90%;
  background-color: #E7E3D4;
  margin: 0 0 10px 0;
}
.text-block .text-block__time {
  margin: 0 0 20px 0;
}
.text-block .text-block__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 150px;
  background: #3B8BEB;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.text-block .text-block__btn:hover {
  background: #2e69b2;
}

#sb-site {
  width: 100% !important;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
