@use '../base/variables' as *;
@use '../base/mixins' as *;
@use 'sass:color';

// ==============================
// ART COACHING PAGE
// ==============================

// ==============================
// ART LINK
// ==============================
.art-link {
  background: $color-link;
  color: $color-text;

  @include respond-to($breakpoint-md) {
    text-align: center;
    font-size: 14px;
  }

  &:hover {
    background: $color-secondary;
  }

  //.art-link_green
  &_green {
    background: $color-secondary;
    color: $color-bg;

    &:hover {
      background: $color-link;
      color: $color-text;
    }
  }
}

// ==============================
// ART SECTION
// ==============================
.art {
  padding: 80px 0 0 0;
  background-color: $color-art-bg;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;

  //.art__container
  &__container {
    max-width: 1200px;
    position: relative;
    z-index: 10;
  }

  //.art__content
  &__content {
    padding: 30px 0;

    @include respond-to($breakpoint-sm) {
      padding: 60px 0;
    }
  }

  //.art__block
  &__block {
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: relative;
    max-width: 600px;
    background-color: $color-text;
    padding: 20px;
    color: $color-dark;
    border-radius: 9px;
  }

  //.art__coach
  &__coach {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-image: url("../img/art-coaching/coach.jpg");
    background-size: cover;
    background-position: center;

    @include respond-to($breakpoint-sm) {
      width: 100%;
    }
  }

  //.art__btn-block
  &__btn-block {
    p {
      font-weight: 500;
      padding-bottom: 10px;
      font-size: 20px;
      line-height: 140%;

      @include respond-to($breakpoint-lg) {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  //.art__text
  &__text {
    font-weight: 500;
    color: $color-text;
    max-width: 680px;
    padding-bottom: 40px;
    font-size: 24px;
    line-height: 140%;

    @include respond-to($breakpoint-lg) {
      padding-bottom: 20px;
      font-size: 20px;
      max-width: none;
      line-height: 120%;
    }

    &_black {
      color: $color-dark;
    }
  }

  //.art__link
  &__link {
    width: 200px;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0 0 0;
    text-transform: none;
    background: $color-art-bg;

    &:hover {
      background: $color-art-dark;
    }
  }
}

// ==============================
// ART TITLE COMPONENTS
// ==============================
.art-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  margin: 0 0 20px 0;

  @include respond-to($breakpoint-md) {
    font-size: 30px;
    font-weight: 700;
  }
}

.art-subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  margin: 0 0 20px 0;
  text-align: left;

  @include respond-to($breakpoint-md) {
    font-size: 24px;
    font-weight: 600;
  }

  p:not(:last-child) {
    margin: 0 0 5px 0;
  }
}

.art-label {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  margin: 0 0 20px 0;
  text-align: left;

  @include respond-to($breakpoint-md) {
    font-size: 20px;
    font-weight: 500;
  }
}

// ==============================
// ART LIST
// ==============================
.art-list {
  display: grid;
  gap: 20px;

  @include respond-to($breakpoint-md) {
    grid-template-columns: 1fr;
  }

  //.art-list_01
  &_01 {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 40px 0;

    @include respond-to($breakpoint-lg) {
      grid-template-columns: 1fr;
      margin: 0 0 20px 0;
    }
  }

  //.art-list_02
  &_02 {
    grid-template-columns: repeat(4, 1fr);

    @include respond-to($breakpoint-xl) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to($breakpoint-lg) {
      grid-template-columns: 1fr;
    }
  }

  //.art-list__item
  &__item {
    font-size: 16px;
    line-height: 120%;
    color: $color-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: $color-art-item-bg;
    border-radius: 9px;
    transition: all 0.3s ease;

    @include respond-to($breakpoint-md) {
      padding: 10px;
    }

    &:hover {
      background-color: $color-art-item-hover;
    }

    p {
      font-weight: 600;
      font-size: 20px;
    }

    ul {
      text-align: left;

      li {
        margin: 0 0 10px 0;
        position: relative;
        padding-left: 20px;

        &::before {
          content: "";
          position: absolute;
          top: 8px;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: $color-text;
          border-radius: 50%;
        }
      }
    }
  }
}

// ==============================
// ART TEXT SECTION
// ==============================
#art-text {
  position: relative;
  top: -80px;
}

.art-text {
  padding: 50px 0;
  text-align: center;
  position: relative;

  @include respond-to($breakpoint-lg) {
    padding: 30px 0;
  }

  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, $color-art-gradient, $color-art-gradient-transparent 100%);
    width: 100%;
    height: 473px;
    top: 0;
    left: 0;
  }

  //.art-text__container
  &__container {
    max-width: 1200px;
  }

  //.art-text__block
  &__block {
    position: relative;
    z-index: 2;
  }

  //.art-text__title
  &__title {
    text-align: center;
  }
}

// ==============================
// ART DETAILS SECTION
// ==============================
.art-details {
  padding: 50px 0;
  position: relative;
  background-color: $color-art-bg;

  @include respond-to($breakpoint-lg) {
    padding: 30px 0;
  }

  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, $color-art-gradient, $color-art-gradient-transparent 100%);
    width: 100%;
    height: 473px;
    top: 0;
    left: 0;
  }

  //.art-details__title
  &__title {
    margin: 0 0 40px 0;
    text-align: center;

    @include respond-to($breakpoint-sm) {
      margin: 0 0 20px 0;
    }
  }

  //.art-details__text
  &__text {
    font-weight: 500;
    color: $color-text;
    max-width: none;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    margin: 0 auto;

    @include respond-to($breakpoint-lg) {
      font-size: 18px;
      line-height: 120%;
    }

    &--small {
      text-align: left;
      font-size: 20px;

      @include respond-to($breakpoint-sm) {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  //.art-details__list
  &__list {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    padding: 0;
    counter-reset: item;
    margin: 0 0 40px 0;

    @include respond-to($breakpoint-lg) {
      grid-template-rows: auto;
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to($breakpoint-md) {
      grid-template-columns: 1fr;
    }
  }

  //.art-details__item
  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    background-color: $color-art-item-transparent;
    border-radius: 9px;
    transition: all 0.3s ease;
    position: relative;
    align-items: center;
    line-height: 120%;
    font-weight: 400;
    color: $color-text;

    @include respond-to($breakpoint-lg) {
      display: flex;
      flex-direction: column;
    }

    @include respond-to($breakpoint-md) {
      flex-direction: column-reverse;
    }

    @include respond-to($breakpoint-sm) {
      gap: 15px;
    }

    &:hover {
      background-color: $color-art-item-hover;
    }

    &::before {
      content: counter(item);
      counter-increment: item;
      position: absolute;
      top: -12px;
      left: -10px;
      background-color: $color-text;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      color: $color-art-item-bg;
      font-size: 15px;
    }

    p {
      font-size: 16px;
      line-height: 140%;
      padding: 10px;

      @include respond-to($breakpoint-sm) {
        padding: 0 10px;
      }
    }

    img {
      max-width: 230px;
      border-radius: 9px;
      overflow: hidden;

      @include respond-to($breakpoint-lg) {
        max-width: none;
        width: 100%;
      }

      @include respond-to($breakpoint-md) {
        max-height: 260px;
        object-position: bottom;
      }
    }
  }

  //.art-details__item-title
  &__item-title {
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    margin: 0 0 10px 0;
    line-height: 120%;

    @include respond-to($breakpoint-md) {
      text-align: center;
    }

    @include respond-to($breakpoint-sm) {
      padding: 10px 10px 0 10px;
    }
  }
}

// ==============================
// ART LEADING SECTION
// ==============================
.art-leading {
  padding: 30px 0;
  position: relative;
  background-color: $color-art-bg;

  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, $color-art-gradient, $color-art-gradient-transparent 100%);
    width: 100%;
    height: 473px;
    top: 0;
    left: 0;
  }

  //.art-leading__title
  &__title {
    margin: 0 0 40px 0;
    text-align: center;

    @include respond-to($breakpoint-sm) {
      margin: 0 0 20px 0;
    }
  }

  //.art-leading__images
  &__images {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);

    @include respond-to($breakpoint-xl) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
}

// ==============================
// LEAD COMPONENT
// ==============================
.lead {
  display: flex;
  gap: 20px;
  line-height: 140%;
  color: $color-text;
  justify-items: center;

  @include respond-to($breakpoint-xl) {
    justify-content: center;
  }

  @include respond-to($breakpoint-sm) {
    flex-direction: column;
  }

  //.lead__image
  &__image {
    max-width: 300px;
    border-radius: 9px;
    overflow: hidden;

    @include respond-to($breakpoint-xl) {
      max-width: 200px;
    }

    @include respond-to($breakpoint-sm) {
      max-width: 60%;
      align-self: center;
    }
  }

  //.lead__info
  &__info {
    display: flex;
    flex-direction: column;
  }

  //.lead__title
  &__title {
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    margin-bottom: 5px;

    @include respond-to($breakpoint-sm) {
      text-align: center;
    }
  }

  //.lead__label
  &__label {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;

    @include respond-to($breakpoint-sm) {
      text-align: center;
    }
  }

  //.lead__text
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin: 0 0 20px 0;

    @include respond-to($breakpoint-sm) {
      text-align: center;
    }
  }
}

// ==============================
// LEAD CONTACTS
// ==============================
.lead-contacts {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include respond-to($breakpoint-sm) {
    margin: 0 auto;
    font-size: 16px;
  }

  //.lead-contacts__item
  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 40px;
      height: 40px;

      @include respond-to($breakpoint-sm) {
        width: 30px;
        height: 30px;
      }
    }
  }
}

// ==============================
// ART SCHEDULE SECTION
// ==============================
.art-schedule {
  padding: 30px 0 0 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, $color-art-gradient, $color-art-gradient-transparent 100%);
    width: 100%;
    height: 473px;
    top: 0;
    left: 0;
  }

  //.art-schedule__title
  &__title {
    margin: 0 0 40px 0;
    text-align: center;

    @include respond-to($breakpoint-sm) {
      margin: 0 0 20px 0;
    }
  }

  //.art-schedule__list
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0 0 40px 0;

    @include respond-to($breakpoint-lg) {
      margin: 0 0 20px 0;
    }
  }

  //.art-schedule__item
  &__item {
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    color: $color-text;
  }
}

// ==============================
// ART METOD SECTION
// ==============================
.art-metod {

  //.art-metod__list
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0;
    gap: 20px;

    @include respond-to($breakpoint-lg) {
      margin: 0 0 20px 0;
    }

    @include respond-to($breakpoint-sm) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      gap: 10px;
    }
  }

  //.art-metod__item
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    color: $color-text;
    font-size: 26px;
    font-weight: 600;
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 9px;

    @include respond-to($breakpoint-sm) {
      height: 170px;
      font-size: 22px;
    }

    // Затемняющий слой
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color-dark, 0.5);
      z-index: 1;
      transition: opacity 0.3s ease;
    }

    &:hover::after {
      opacity: 0;
    }

    p {
      position: relative;
      z-index: 2;
      text-align: center;
    }

    &:nth-child(1) {
      background-image: url("../img/art-coaching/metods/metod01.jpg");
    }

    &:nth-child(2) {
      background-image: url("../img/art-coaching/metods/metod02.jpg");
    }

    &:nth-child(3) {
      background-image: url("../img/art-coaching/metods/metod03.jpg");
    }

    &:nth-child(4) {
      background-image: url("../img/art-coaching/metods/metod04.jpg");
    }
  }
}

// ==============================
// ART RESULTS SECTION
// ==============================
.art-results {

  //.art-results__list
  &__list {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0 0 40px 0;

    @include respond-to($breakpoint-lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to($breakpoint-sm) {
      margin: 0 0 20px 0;
      grid-template-columns: 1fr;
    }
  }

  //.art-results__item
  &__item {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
    font-size: 16px;
    line-height: 120%;
    color: $color-text;
    padding: 20px;
    background-color: $color-art-item-bg;
    border-radius: 9px;
    transition: all 0.3s ease;

    @include respond-to($breakpoint-lg) {
      width: 100%;
      padding: 10px;
    }

    &:hover {
      background-color: $color-art-item-hover;
    }

    img {
      width: 40px;
      height: 40px;

      @include respond-to($breakpoint-lg) {
        width: 30px;
        height: 30px;
      }
    }

    p {
      @include respond-to($breakpoint-lg) {
        max-width: 300px;
      }
    }
  }

  //.art-results__text
  &__text {
    font-weight: 700;
    color: $color-text;
    margin: 0 auto;
    max-width: 680px;
    padding-bottom: 30px;
    font-size: 28px;
    line-height: 140%;
    text-align: center;

    @include respond-to($breakpoint-md) {
      padding-bottom: 20px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

// ==============================
// ART COST SECTION
// ==============================
.art-cost {
  padding: 30px 0;

  //.art-cost__title
  &__title {
    margin: 0 0 40px 0;
    text-align: center;

    @include respond-to($breakpoint-sm) {
      margin: 0 0 20px 0;
    }
  }

  //.art-cost__content
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 60px 0;
    gap: 80px;

    @include respond-to($breakpoint-lg) {
      margin: 0 0 40px 0;
    }

    @include respond-to($breakpoint-md) {
      gap: 40px;
    }
  }

  //.art-cost__decor
  &__decor {
    max-height: 300px;

    @include respond-to($breakpoint-md) {
      max-height: 150px;
    }

    @include respond-to($breakpoint-sm) {
      display: none;
    }
  }

  //.art-cost__items
  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  //.art-cost__item
  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  //.art-cost__img
  &__img {
    height: 50px;
    margin: 10px 0 0 0;

    @include respond-to($breakpoint-md) {
      height: 45px;
    }
  }

  //.art-cost__block
  &__block {
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;

    @include respond-to($breakpoint-md) {
      font-weight: 700;
      font-size: 30px;
    }
  }

  //.art-cost__label
  &__label {
    color: $color-text;
    margin: 0 0 10px 0;
  }

  //.art-cost__text
  &__text {
    color: $color-art-price;
  }
}

// ==============================
// SHARED STYLES
// ==============================
.art-container {
  width: 100%;
}