@use '../base/variables' as *;
@use '../base/mixins' as *;

// ==============================
// ОБЩИЕ КЛАССЫ
// ==============================

.title {
  font-size: 26px;
  color: $color-bg;
  text-align: center;
  line-height: 140%;

  @include respond-to(768px) {
    font-size: 20px;
    line-height: 130%;
  }
}

.subtitle {
  font-size: 20px;
  color: $color-bg;

  @include respond-to(768px) {
    font-size: 18px;
  }
}

.label {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  color: $color-accent;
}

.text {
  line-height: 1.6;
  color: $color-bg;
}

.example {
  font-style: italic;
  font-weight: 500;
  color: $color-bg;
}

.item-title {
  padding-top: 10px;
  font-weight: 600;
}

.item-subtitle {
  padding-top: 10px;
  font-style: italic;
  font-weight: 600;
  color: #6d6c6c;
}

// ==============================
// PAGE TECHNICS
// ==============================

body.page-tekhniki,
body.page-technics {
  font-size: 16px;
  line-height: 24px;
  background: $color-text;
  color: $color-bg;
}

.page-technics {


  .technics__container {
    padding: 0 15px;
  }
}

// ==============================
// TEKHNIKI
// ==============================

.tekhniki {
  margin-top: 90px;
  padding: 50px 0;

  @include respond-to(980px) {
    margin-top: 80px;
    padding: 30px 0;
  }

  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    @include respond-to(1100px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to(768px) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: $color-bg;

    @include respond-to(980px) {
      font-size: 24px;
    }

    @include respond-to(768px) {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 600;
      line-height: 140%;
    }
  }
}

// ==============================
// CARD
// ==============================

.card {
  position: relative;
  padding: 24px;
  border-radius: 12px;
  background-color: $color-text;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  color: #333;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(2px);
  }

  &.hidden {
    display: none;
  }

  @include respond-to(920px) {
    padding: 14px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;

    @include respond-to(1100px) {
      height: 320px;
    }

    @include respond-to(768px) {
      height: auto;
      justify-content: flex-start;
    }
  }

  &__top {
    display: grid;
    grid-template-rows: 110px auto auto;
    gap: 5px;
  }

  &__img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    justify-self: center;
    overflow: hidden;
    border-radius: 120px;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

    @include respond-to(768px) {
      font-size: 14px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #949494;

    @include respond-to(768px) {
      font-size: 12px;
    }
  }

  &__category,
  &__time {
    position: absolute;
    top: 10px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;

    @include respond-to(768px) {
      top: 5px;
      width: 90px;
      font-size: 10px;
    }
  }

  &__category {
    left: 10px;
    color: $color-text;
    transition: all 0.3s ease;

    @include respond-to(768px) {
      left: 5px;
    }

    &.motives {
      background: $color-secondary;
    }

    &.meanings {
      background: $color-link-hover;
    }

    &.words {
      background: $color-link;
    }

    &.processes {
      background: $color-bg-footer-gradient;
    }

    &.states {
      background: #ff9900;
    }
  }

  &__time {
    right: 10px;
    border: 1px solid $color-link;
    background: $color-text;
    color: $color-link;

    @include respond-to(768px) {
      right: 5px;
    }
  }

  &__link {
    align-self: flex-start;
    border-bottom: 1px solid;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: $color-link;
    transition: all 0.3s;
    z-index: 5;

    &:hover {
      color: $color-link-hover;
    }

    &:active {
      color: $color-bg;
    }

    @include respond-to(768px) {
      margin: 10px 0 0 10px;
      font-size: 12px;
    }
  }
}

// ==============================
// TECHNICS
// ==============================

.technics {
  margin: 150px 0 50px;

  @include respond-to(980px) {
    margin: 95px 0 50px;
  }

  p:not(:last-child) {
    margin-bottom: 10px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include respond-to(768px) {
      gap: 20px;
      margin-top: 20px;
    }
  }

  &__top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 120px;
  }

  &__sublist {
    margin-bottom: 10px;
  }

  &__list {
    ol {
      padding-left: 0;
      counter-reset: step-counter;

      li {
        position: relative;
        margin: 40px 0 10px;
        line-height: 1.6;
        list-style: none;
        counter-increment: step-counter;

        &::before {
          content: 'Шаг ' counter(step-counter) ':';
          position: absolute;
          top: -25px;
          display: block;
          font-weight: 600;
          color: $color-link;
        }
      }
    }
  }

  &__catalog {
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow-wrap: break-word;
      word-break: break-word;

      @include respond-to(768px) {
        font-size: 14px;
      }

      li {
        position: relative;
        display: inline-block;
        padding-left: 10px;

        &:not(:last-child) {
          margin-bottom: 5px;
        }

        &::before {
          content: '';
          position: absolute;
          top: 9px;
          left: 0;
          width: 5px;
          height: 5px;
          border-radius: 20px;
          background-color: $color-link;
        }
      }
    }

    a {
      position: relative;
      color: #045db1;
      transition: all 0.7s ease;

      &:hover {
        color: $color-link;
        text-decoration: underline;
      }
    }
  }

  &__links {
    a {
      margin-right: 5px;
      font-weight: 500;
      color: $color-link;
      transition: all 0.3s ease;

      &:hover {
        color: #045db1;
      }

      @include respond-to(768px) {
        font-size: 14px;
      }
    }
  }

  &__content {
    padding: 12px 24px;
    border-radius: 12px;
    background-color: rgb(220 220 220 / 10%);
    line-height: 30px;

    @include respond-to(768px) {
      padding: 14px;
      line-height: 25px;
    }
  }

  &__bread-crumbs {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: $font-alt;
    color: #045db1;

    @include respond-to(768px) {
      display: contents;
      margin-bottom: 10px;
    }

    li {
      position: relative;
      display: contents;

      &:last-child {
        color: $color-bg;
      }

      &:not(:last-child)::after {
        content: '∙';
        display: inline-block;
        margin: 0 10px;
        font-size: 14px;
        color: rgb(116, 122, 150);
      }
    }

    a {
      position: relative;
      text-decoration: underline;
      transition: all 0.3s ease;

      &:hover {
        color: #05437d;
      }
    }
  }
}

// ==============================
// FILTER
// ==============================

.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @include respond-to(630px) {
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;

    @include respond-to(980px) {
      flex-direction: column;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 10px;

    @include respond-to(480px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px 5px;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 2px 10px;
    border: 1px solid #949494;
    border-radius: 20px;
    background: $color-text;
    color: $color-bg;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    transition: all 0.3s ease;

    &:hover,
    &.active,
    &:active {
      background: #949494;
      color: $color-text;
    }

    &.active {
      border-color: #949494;
      transform: translateY(0);
    }

    &:active {
      transform: translateY(-1px);
    }

    @include respond-to(370px) {
      padding: 7px;
      font-size: 11px;
      line-height: 11px;
    }
  }

  &__sort {
    align-self: flex-end;

    @include respond-to(980px) {
      margin-top: 20px;
    }

    @include respond-to(630px) {
      align-self: flex-start;
      margin-top: 10px;
    }
  }
}

.reset-filter {
  display: none;
  margin: 32px 0 10px;
  border: none;
  background: none;
  color: $color-link;
  font-size: 12px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #e60076;
  }

  @include respond-to(980px) {
    margin: 0;
  }
}

.no-cards-placeholder {
  width: 400px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 12px;
  background-color: $color-text;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  color: $color-bg;
  font-size: 20px;
  line-height: 140%;
  text-align: center;

  @include respond-to(768px) {
    width: 100%;
    font-size: 16px;
  }
}

// ==============================
// SORT DROPDOWN
// ==============================

.sort {
  &__dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
    font-size: 12px;
    color: $color-bg;
    cursor: pointer;
  }

  &__selected {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    border: 1px solid #949494;
    border-radius: 20px;
    background: $color-text;
    color: $color-bg;
  }

  &__sort {
    align-self: center;
  }

  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 11;
    display: none;
    width: 100%;
    border: 1px solid #e4e4e7;
    border-radius: 6px;
    background-color: $color-text;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }

    img {
      width: 9px;
      height: 12px;
      margin-left: 10px;
    }

    &_02 {
      img {
        transform: rotate(180deg);
      }
    }
  }

  &__selected-arrow {
    width: 9px;
    height: 12px;
    margin-left: 10px;

    &.sort__option_02 {
      transform: rotate(180deg);
    }
  }
}