<!-- src\partials\modal-swiper.html -->


<!-- Полный отзыв в слайдере (только для index.html) -->
<div class="modal-swiper" id="modal-swiper-1">
  <div class="modal-swiper__name">Татьяна Андреева</div>
  <div class="modal-swiper__text">
    Я&nbsp;шла на&nbsp;поддерживающую сессию с&nbsp;твёрдым пониманием, что сессия необходима, но&nbsp;не&nbsp;осознавала всей полезности, ввиду того, что
    в&nbsp;мыслях и&nbsp;чувствах была неопределённость. Это вторая сессия с&nbsp;Еленой, и&nbsp;у&nbsp;меня сформировалось мнение, что: 1. Елена очень
    точно понимает невысказанное, а&nbsp;также суть &laquo;коряво&raquo; высказанного, когда в&nbsp;голове и&nbsp;на&nbsp;словах присутствует туманность,
    нечеткость, подмечает детали, которые порой выглядят для говорящего как нечто проходное, но&nbsp;на&nbsp;самом деле несут в&nbsp;себе важное значение;
    и&nbsp;умело &laquo;упаковывает&raquo; всё это ...
  </div>
</div>