<!-- src\partials\request-form.html -->

<!-- Форма записи на сессию -->
<div class="modal-request" id="modal-request">
  <h3 class="modal-request__title">
    Запись на serf-сессию
  </h3>
  <form class="modal-request__form" action="/php/mail.php" enctype="multipart/form-data" method="POST">
    <div class="modal-request__item">
      <input class="modal-request__name" data-validate-field="name" name="Имя" type="text" placeholder="Представьтесь, пожалуйста" />
    </div>
    <div class="modal-request__item">
      <input class="modal-request__phone" data-validate-field="tel" name="Телефон" type="tel" placeholder="Телефон" />
    </div>
    <div class="modal-request__item">
      <input class="modal-request__phone modal-request__email" data-validate-field="email" name="email" type="email" placeholder="Электронная почта" />
    </div>

    <input type="hidden" name="page_title" value="" />
    <input type="text" name="hidden_field" style="display: none" />

    <div class="modal-request__choice">
      <div class="modal-request__left">Предпочтительный способ связи:</div>
      <div class="modal-request__right">
        <label class="modal-request__label"><input class="modal-request__radio" type="radio" name="Предпочтительный способ связи:" value="Телефон" checked /><span>Телефон</span></label>
        <label class="modal-request__label"><input class="modal-request__radio" type="radio" name="Предпочтительный способ связи:" value="WhatsApp" /><span>WhatsApp</span></label>
        <label class="modal-request__label"><input class="modal-request__radio" type="radio" name="Предпочтительный способ связи:" value="Telegram" /><span>Telegram</span></label>
      </div>
    </div>

    <div class="modal-request__captcha">
      <div class="g-recaptcha" data-sitekey="6LfKg1osAAAAAM3K2KcCVneFAbBfcsBCwvpBbOhM"></div>
      <div id="recaptchaError" style="display:none; color:#e24343; font-size:14px; margin-top:8px;">
        Пожалуйста, подтвердите, что вы не робот
      </div>
    </div>

    <button class="modal-request__btn" type="submit">Записаться</button>
  </form>

  <div class="modal-request__agree">
    <div class="modal-request__check">
      <input id="policy-read-req" type="checkbox" name="agreePolicy" required>
      <label for="policy-read-req"><p><span>* </span>С <a href="personal.html" target="_blank" rel="noopener noreferrer">Политикой обработки персональных данных</a> ознакомлен (-на).</p></label>
    </div>
    <div class="modal-request__check">
      <input id="data-consent-req" type="checkbox" name="agreeData" required>
      <label for="data-consent-req"><p><span>* </span>Даю согласие на обработку своих персональных данных в соответствии с <a href="personal.html" target="_blank" rel="noopener noreferrer">Политикой обработки персональных данных</a>.</p></label>
    </div>
    <div class="modal-request__check">
      <input id="marketing-consent-req" type="checkbox" name="agreeAds">
      <label for="marketing-consent-req"><p>Даю <a href="agreement.html" target="_blank" rel="noopener noreferrer">Согласие на получение информационных и рекламных материалов</a>.</p></label>
    </div>
  </div>
</div>

<!-- popup об успешной записи -->
<div class="modal-thanks" id="modal-thanks">
  <div class="modal-thanks__logo">
    <img src="img/modal-thanks-logo.svg" alt="Ai4G" loading="lazy" />
  </div>
  <h3 class="modal-thanks__title">Вы&nbsp;успешно отправили заявку.</h3>
  <div class="modal-thanks__text">В&nbsp;ближайшее время мы&nbsp;свяжемся с&nbsp;вами указанным способом</div>
</div>
