<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Blank Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
        <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="../static/offcanvas.css" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="../static/style.css" rel="stylesheet"/>
    </head>
    <body onload="restore(11)">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Диагностическая сессия</a>
                <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="/page" onclick="save(11)">К сесcии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="save_and_exit(11)">Мои клиенты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="couch_page(11)">Мой профиль</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Настройки</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown01">
                                <li><a class="dropdown-item" href="#">Action</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search"/>
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="nav-scroller bg-white shadow-sm">
            <nav class="nav nav-underline" aria-label="Secondary navigation">
                <a class="nav-link active" aria-current="page" onclick="save_and_exit(11)">На главную</a>
                <a class="nav-link" onclick="previous_page(11)">К прошлой странице</a>
                <a class="nav-link" onclick="save_and_exit(11)">Закончить</a>
            </nav>
        </div>
        <div class="container">
</div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <h1 class="ms-3 text-center text-success">Диагностика 7 &laquo;Планирование и контроль&raquo;</h1>
        <div class="mb-2 me-5 ms-5 mt-1">
</div>
        <div class="me-3 ms-3">
            <div class="ms-3 row" name="A23_comment">
                <div class="col-md-5 text-wrap">
                    <h3 class="text-center"><b>Вопросы</b></h3> 
                    <div class="input-group mb-3"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>11.1</b>&nbsp; &nbsp;Какой у Вас  стандартный горизонт планирования жизненной стратегии? На какой самый длительный период Вы обычно планируете?</span>
                            <input type="text" class="form-control" placeholder="11.1" aria-label="Username" aria-describedby="basic-addon1" id="question_11.1_text"/>
                        </div>                         
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <h3 class="text-center"><b>Аналитики</b></h3> 
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А45&nbsp;<span style="font-weight: normal;">Горизонт планирования</span></b></span>
                            <select id="combo_box_A45" class="form-select" aria-label="Default select example" name="paattern_A.45_select"> 
                                <option selected value="0">не указано</option>                                 
                                <option value="1">3-6 месяцев</option>                                 
                                <option value="2">6-12 месяцев</option>
                                <option value="3">1-2 года</option>
                                <option value="4">2-3 года</option>
                                <option value="5">3-5 лет</option>
                                <option value="6">5-10 лет</option>
                                <option value="7">10-15 лет</option>
                                <option value="8">15-25 лет</option>
                                <option value="9">25-50 лет</option>
                                <option value="10">50-75 лет</option>
                                <option value="11">более 75 лет</option>
                                <option value="12">за горизонтом жизни</option>
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A45_comment"/>
                        </div>                         
                    </div>
                </div>
            </div>
            <div class="ms-3 row" name="A23_comment">
                <div class="col-md-5 text-wrap">
                    <div class="input-group mb-3">
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>11.2</b> Как Вы обычно планируете желаемое: из настоящего в будущее или из будущего в настоящее?</span>
                            <select id="question_11.2_select" class="form-select" aria-label="Default select example" name="question_11.2_select">
                                <option selected value="0">не указано</option>
                                <option value="1">Из настоящго в будущее</option>
                                <option value="2">Из будущего в настоящее</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="input-group mb-3 w-100">
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1" name="paattern_A.23_select"><b>А46&nbsp;</b>&nbsp;Тип контроля</span>
                            <select id="combo_box_A46" class="form-select" aria-label="Default select example" name="paattern_A46_select">
                                <option selected value="0">не указано</option>
                                <option value="1">По вехам</option>
                                <option value="2">По отклонениям</option>
                                <option value="3">По результату</option>
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A46_comment"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ms-3 row" name="A23_comment">
                <div class="col-md-5 text-wrap">
                    <div class="input-group mb-3 mw-100">
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>11.3</b>Какой контроль  Вам подходит больше: контроль по результату,  контроль по отклонениям или пошаговый контроль?<b></b></span>
                            <select id="question_11.3_select" class="form-select" aria-label="Default select example" name="question_11.3_select">
                                <option selected value="0">не указано</option>
                                <option value="1">Контроль по результату</option>
                                <option value="2">Контроль по отклонениям</option>
                                <option value="2">Пошаговый контроль</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="input-group mb-3 w-100">
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А47&nbsp;<span style="font-size: 1rem; font-weight: 400; font-family: var(--bs-body-font-family);">Длина спринта</span></b></span>
                            <select id="combo_box_A47" class="form-select" aria-label="Default select example" name="paattern_A.47_select">
                                <option selected value="0">не указано</option>
                                <option value="1">1 неделя</option>
                                <option value="2">2 недели</option>
                                <option value="3">3 недели</option>
                                <option value="4">1 месяц</option>
                                <option value="6">1,5 месяца</option>
                                <option value="8">2 месяца</option>
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A47_comment"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ms-3 row" name="A23_comment">
                <div class="col-md-5 text-wrap">
                    <div class="input-group mb-3 mw-100">
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>11.4</b>&nbsp;Как Вы обычно замеряете свой прогресс?<b></b></span>
                            <input type="text" class="form-control" placeholder="11.4" aria-label="Username" aria-describedby="basic-addon1" id="question_11.4_text"/>
                        </div>
                    </div>
                    <div class="input-group mb-3 mw-100">
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>11.5</b>&nbsp; С какой периодичностью для Вас удобно измерять прогресс и получать обратную связь? Раз в 2 недели? Раз в месяц? <b></b></span>
                            <select id="question_11.5_select" class="form-select" aria-label="Default select example" name="question_11.5_select">
                                <option selected value="0">не указано</option>
                                <option value="1">Раз в 2 недели</option>
                                <option value="2">Раз в месяц</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group mb-3 mw-100">
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>11.6</b>&nbsp;  Как для Вас работают напоминания (пуши)? (Обращает/не обращает внимание; Отключит/или нет) <b></b></span>
                            <input type="text" class="form-control" placeholder="11.6" aria-label="Username" aria-describedby="basic-addon1" id="question_11.6_text"/>
                        </div>
                    </div>
                    <div class="input-group mb-3 mw-100">
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>11.7</b>Что Вы услышали о себе, на что не обращали внимание раньше? <b></b></span>
                            <input type="text" class="form-control" placeholder="11.7" aria-label="Username" aria-describedby="basic-addon1" id="question_11.7_text"/>
                        </div>
                    </div><span class="input-group-text text-wrap" id="basic-addon1"><b>Комментарий</b></span>
                    <input type="text" class="form-control" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="q_4_commnt"/>
                    <p></p>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="input-group mb-3 w-100">
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А48&nbsp;</b>Исходная точка планирования. С чем должны сверяться отклонения  от ИТР с настоящим или будущим?</span>
                            <select id="combo_box_A48" class="form-select" aria-label="Default select example" name="paattern_A.48_select">
                                <option selected value="0">не указано</option>
                                <option value="1">С настоящим</option>
                                <option value="2">С будущим</option>
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A48_comment"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="me-5 ms-3">
            <div class="row">
                <h3 class="text-center"><b>ПАТТЕРНЫ</b></h3>
                <div class="col-md-6">
                    <h3 class="text-center">&nbsp;Паттерны коммуникации</h3> 
                    <div class="mb-3"> 
                        <label for="formInput131" class="mb-1">
                            Высокий контекст/ Низкий контекст
                        </label>                         
                        <select id="combo_box_P1.1" class="form-select" aria-label="Default select example" name="paattern_1.1_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Высокий контекст: Полагаться на неявную коммуникации. Учитывать значение жестов, поз, голоса, контекста.</option>                             
                            <option value="2">Низкий контекст: Полагаться на явную коммуникацию. Отдавать предпочтение четким и подробным инструкциям.</option>                             
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput231" class="mb-1">
                            Прямая/ Непрямая коммуникация (Критика)
                        </label>                         
                        <select id="combo_box_P.1.2" class="form-select" aria-label="Default select example" name="paattern_1.2_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Прямая коммуникация: Критика других прямая. В конфликтной ситуации или когда нужно озвучить нечто неприятное, отдавать предпочтения ясно и прямо излагать свою точку зрения, несмотря на риск задеть чувства собеседника.</option>                             
                            <option value="2">Непрямая коммуникация: Непрямая критика. В конфликтной ситуации или когда нужно озвучить нечто неприятное, отдавать предпочтение поддержанию теплых отношений, рискуя быть непонятым.</option>                             
                            ы                        
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1">
                            Эмоциональность/ Нейтральность
                        </label>                         
                        <select id="combo_box_P.1.3" class="form-select" aria-label="Default select example" name="psttern_1.3_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Эмоциональность: Проявлять эмоции и теплоту при общении. Установление и поддержание личных и социальных связей является ключевым.</option>                             
                            <option value="2">Нейтральность: Подчеркивать лаконичность, точность и отстраненность при общении.</option>                             
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1">
                            Формальность/ Неформальность (Убеждение других)
                        </label>                         
                        <select id="combo_box_P.1.4" class="form-select" aria-label="Default select example" name="psttern_1.4_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Формальность: Строго соблюдать протоколы и ритуалы. Вначале  принципы</option>                             
                            <option value="2">Неформальность: Отдавать предпочтение непринужденности и непосредственности. Вначале практика</option>                             
                        </select>                         
                    </div>                     
                </div>
                <div class="col-md-6">
                    <h3 class="text-center">Паттерны восприятия времени</h3>
                    <div class="mb-3" name="paattern_6.1_select"> 
                        <label for="formInput231" class="mb-1">
                            <b>11.2</b>&nbsp;Прошлое/ Настоящее / Будущее
                        </label>                         
                        <select id="combo_box_P.11.2" class="form-select" aria-label="Default select example" name="paattern_11.2_select"> 
                            <option value="0" selected>не выявлено</option>                             
                            <option value="1">Прошлое: Учиться на опыте прошлого. Настоящее является по сути продолжением или повторением прошлых событий. </option>                             
                            <option value="2">Настоящее: Сосредоточиться «здесь и сейчас» и краткосрочных выгодах. </option>                             
                            <option value="3">Будущее: Стремиться к долгосрочным выгодам. Продвигать далеко идущее видение.</option>                             
                        </select>                         
                    </div>
                    <h3 class="text-center">&nbsp;Паттерны поведения</h3>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1"><b>11.5</b>&nbsp;Защищать/ Делиться
                        </label>                         
                        <select id="combo_box_P.11.5" class="form-select" aria-label="Default select example" name="psttern_11.5_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Защищать: Защищать себя, сохраняя личную жизни и чувства в тайне (ментальные границы) и сводя к минимуму вторжения в свое физическое пространство (физические границы). </option>                             
                            <option value="2">Делиться: Выстраивать более близкие отношения, давая доступ к психологическим и физическим аспектам. </option>                             
                        </select>                         
                    </div>                     
                </div>
            </div>
            <div class="row" data-empty-placeholder></div>
        </div>
        <br/>
        <script src="../static/assets/js/popper.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/js/diag.js"></script>
    <hr>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="previous_page(11)">К прошлой странице</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="save_and_exit(11)">Закончить</button>

    </body>
</html>
