<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Blank Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
        <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="../static/offcanvas.css" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="../static/style.css" rel="stylesheet"/>
    </head>
    <body onload="restore(6)">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Диагностическая сессия</a>
                <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="/page" onclick="save(6)">К сесcии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="save_and_exit(6)">Мои клиенты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="couch_page(6)">Мой профиль</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Настройки</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown01">
                                <li><a class="dropdown-item" href="#">Action</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search"/>
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="nav-scroller bg-white shadow-sm">
            <nav class="nav nav-underline" aria-label="Secondary navigation">
                <a class="nav-link active" aria-current="page" onclick="save_and_exit(6)">На главную</a>
                <a class="nav-link" onclick="previous_page(6)">К прошлой странице</a>
                <a class="nav-link" onclick="next_page(6)">Сохранить и перейти далее</a>
            </nav>
        </div>
        <div class="container">
</div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <h1 class="ms-3 text-center text-success">Диагностика 2  &laquo;Визуализация цели&raquo;</h1>
        <div class="mb-2 me-5 ms-5 mt-1">
</div>
        <div class="me-3 ms-3">
            <div class="ms-3 row" name="A23_comment">
                <div class="col-md-5 text-wrap">
                    <h3 class="text-center"><b>Вопросы</b></h3> 
                    <div class="input-group mb-3"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>6.1</b>&nbsp; &nbsp;Если все происходит именно так как Вы хотите  - На что это похоже?</span>
                            <input type="text" class="form-control" placeholder="6.1" aria-label="Username" aria-describedby="basic-addon1" id="question_6.1_text"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>6.2</b>&nbsp;Если все происходит именно так как Вы хотите - Это как что? Насколько четкий образ Вы видите?</span>
                            <input type="text" class="form-control" placeholder="6.2" aria-label="Username" aria-describedby="basic-addon1" id="question_6.2_text"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 mw-100"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>6.3</b>&nbsp;Если все произошло именно так как Вы хотите - Чем это пахнет?<b></b></span>
                            <input type="text" class="form-control" placeholder="6.3" aria-label="Username" aria-describedby="basic-addon1" id="question_6.3_text"/>
                        </div>
                    </div>
                    <div class="input-group mb-3 mw-100"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>6.4</b>&nbsp;Можете ли Вы войти в картинку будущего? Что Вы можете там изменить?<b></b></span>
                            <input type="text" class="form-control" placeholder="6.4" aria-label="Username" aria-describedby="basic-addon1" id="question_6.4_text"/>
                        </div>
                    </div>
                    <div class="input-group mb-3 mw-100"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>6.5</b>&nbsp; Какой один предмет остается  в  фокусе? <b></b></span>
                            <input type="text" class="form-control" placeholder="6.5" aria-label="Username" aria-describedby="basic-addon1" id="question_6.5_text"/>
                        </div>
                    </div><span class="input-group-text text-wrap" id="basic-addon1"><b>Комментарий</b></span>
                    <input type="text" class="form-control" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="q_4_commnt"/>
                    <p></p>
                </div>
                <div class="col-lg-6 col-md-4">
                    <h3 class="text-center"><b>Аналитики</b></h3> 
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А23.&nbsp;<span style="font-size: 1rem; font-weight: 400; font-family: var(--bs-body-font-family);">Наличие/Отсутсвие визуального образа</span></b></span>
                            <select id="combo_box_A23" class="form-select" aria-label="Default select example" name="paattern_A.23_select"> 
                                <option selected value="0">не указано</option>                                 
                                <option value="1">НЕТ</option>
                                <option value="2">ЕСТЬ</option>
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A23_comment"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1" name="paattern_A.23_select"><b>А24.&nbsp;</b>&nbsp;Количество деталей/четкость образа</span>
                            <select id="combo_box_A24" class="form-select" aria-label="Default select example" name="paattern_A.24_select"> 
                                <option selected value="0">не указано</option>                                 
                                <option value="1">Мало чёткий</option>                                 
                                <option value="2">Среднее количество чёткий</option>
                                <option value="3">Много чёткий</option>
                                <option value="4">Мало  НЕ чёткий</option>
                                <option value="5">Среднее количество НЕ чёткий</option>
                                <option value="6">Много НЕ чёткий</option>                                 
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A24_comment"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А25.&nbsp;</b>Способность изменять картинку</span>
                            <select id="combo_box_A25" class="form-select" aria-label="Default select example" name="paattern_A.25_select"> 
                                <option selected value="0">не указано</option>                                 
                                <option value="1">Да</option>                                 
                                <option value="2">Нет</option>
                                <option value="3">Частично</option>                                 
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A25_comment"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А26.&nbsp;</b>Стандартный или уникальный образ</span>
                            <select id="combo_box_A26" class="form-select" aria-label="Default select example" name="paattern_A.26_select"> 
                                <option selected value="0">не указано</option>                                 
                                <option value="1">Стандартный</option>                                 
                                <option value="2">Уникальный</option>                                 
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A26_comment"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А27</b>&nbsp;Если идет описание в ощущениях - есть ограничения<b></b><b></b></span>
                            <select id="combo_box_A27" class="form-select" aria-label="Default select example" name="paattern_A.27_select"> 
                                <option selected value="0">не указано</option>                                 
                                <option value="1">ДА. Описывает картинку в ощущениях</option>                                 
                                <option value="2">НЕТ описания в ощущениях</option>                                 
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A27_comment"/>
                        </div>                         
                    </div>                     
                </div>
            </div>
        </div>
        <div class="me-5 ms-3">
            <div class="row">
                <h3 class="text-center"><b>ПАТТЕРНЫ</b></h3>
                <div class="col-md-6">
                    <h3 class="text-center">&nbsp;Паттерны коммуникации</h3> 
                    <div class="mb-3"> 
                        <label for="formInput131" class="mb-1">
                            Высокий контекст/ Низкий контекст
                        </label>                         
                        <select id="combo_box_P1.1" class="form-select" aria-label="Default select example" name="paattern_1.1_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Высокий контекст: Полагаться на неявную коммуникации. Учитывать значение жестов, поз, голоса, контекста.</option>                             
                            <option value="2">Низкий контекст: Полагаться на явную коммуникацию. Отдавать предпочтение четким и подробным инструкциям.</option>                             
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput231" class="mb-1">
                            Прямая/ Непрямая коммуникация (Критика)
                        </label>                         
                        <select id="combo_box_P.1.2" class="form-select" aria-label="Default select example" name="paattern_1.2_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Прямая коммуникация: Критика других прямая. В конфликтной ситуации или когда нужно озвучить нечто неприятное, отдавать предпочтения ясно и прямо излагать свою точку зрения, несмотря на риск задеть чувства собеседника.</option>                             
                            <option value="2">Непрямая коммуникация: Непрямая критика. В конфликтной ситуации или когда нужно озвучить нечто неприятное, отдавать предпочтение поддержанию теплых отношений, рискуя быть непонятым.</option>                             
                            ы                        
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1">
                            Эмоциональность/ Нейтральность
                        </label>                         
                        <select id="combo_box_P.1.3" class="form-select" aria-label="Default select example" name="psttern_1.3_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Эмоциональность: Проявлять эмоции и теплоту при общении. Установление и поддержание личных и социальных связей является ключевым.</option>                             
                            <option value="2">Нейтральность: Подчеркивать лаконичность, точность и отстраненность при общении.</option>                             
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1">
                            Формальность/ Неформальность (Убеждение других)
                        </label>                         
                        <select id="combo_box_P.1.4" class="form-select" aria-label="Default select example" name="psttern_1.4_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Формальность: Строго соблюдать протоколы и ритуалы. Вначале  принципы</option>                             
                            <option value="2">Неформальность: Отдавать предпочтение непринужденности и непосредственности. Вначале практика</option>                             
                        </select>                         
                    </div>                     
                </div>
                <div class="col-md-6">
                    <h3 class="text-center">Паттерны мышления</h3>
                    <div class="mb-3" name="paattern_6.1_select"> 
                        <label for="formInput231" class="mb-1">
                            <b>6.1</b>&nbsp;Аналитичность/ Системность
                        </label>                         
                        <select id="combo_box_P.6.1" class="form-select" aria-label="Default select example" name="paattern_6.1_select"> 
                            <option value="0" selected>не выявлено</option>                             
                            <option value="1">Аналитичный: Разделять целое на составляющие элементы. Разделять проблему на более мелкие части.</option>                             
                            <option value="2">Системность: Собирать части в единое целое. Исследовать связи между элементами и сосредоточиться на системе в целом.</option>                                                          
                        </select>                         
                    </div>
                    <div class="mb-3" name="paattern_6.1_select"> 
                        <label for="formInput231" class="mb-1">
                            <b>6.2</b>&nbsp;Аналитичность/ Системность
                        </label>                         
                        <select id="combo_box_P.6.2" class="form-select" aria-label="Default select example" name="paattern_6.2_select"> 
                            <option value="0" selected>не выявлено</option>                             
                            <option value="1">Аналитичный: Разделять целое на составляющие элементы. Разделять проблему на более мелкие части.</option>                             
                            <option value="2">Системность: Собирать части в единое целое. Исследовать связи между элементами и сосредоточиться на системе в целом.</option>                                                          
                        </select>                         
                    </div>
                    <div class="mb-3" name="paattern_6.1_select"> 
                        <label for="formInput231" class="mb-1">
                            <b>6.3</b>&nbsp;Аналитичность/ Системность
                        </label>                         
                        <select id="combo_box_P.6.3" class="form-select" aria-label="Default select example" name="paattern_6.3_select"> 
                            <option value="0" selected>не выявлено</option>                             
                            <option value="1">Аналитичный: Разделять целое на составляющие элементы. Разделять проблему на более мелкие части.</option>                             
                            <option value="2">Системность: Собирать части в единое целое. Исследовать связи между элементами и сосредоточиться на системе в целом.</option>                                                          
                        </select>                         
                    </div>
                    <div class="mb-3" name="paattern_6.1_select"> 
                        <label for="formInput231" class="mb-1">
                            <b>6.4</b>&nbsp;Аналитичность/ Системность
                        </label>                         
                        <select id="combo_box_P.6.4" class="form-select" aria-label="Default select example" name="paattern_4.1_select"> 
                            <option value="0" selected>не выявлено</option>                             
                            <option value="1">Аналитичный: Разделять целое на составляющие элементы. Разделять проблему на более мелкие части.</option>                             
                            <option value="2">Системность: Собирать части в единое целое. Исследовать связи между элементами и сосредоточиться на системе в целом.</option>                                                          
                        </select>                         
                    </div>
                    <div class="mb-3" name="paattern_6.1_select">
                        <label for="formInput231" class="mb-1">
                            <b>6.5 </b>&nbsp;Аналитичность/ Системность
                        </label>
                        <select id="combo_box_P.6.5" class="form-select" aria-label="Default select example" name="paattern_4.1_select">
                            <option value="0" selected>не выявлено</option>
                            <option value="1">Аналитичный: Разделять целое на составляющие элементы. Разделять проблему на более мелкие части.</option>
                            <option value="2">Системность: Собирать части в единое целое. Исследовать связи между элементами и сосредоточиться на системе в целом.</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" data-empty-placeholder></div>
        </div><br/>
        <script src="../static/assets/js/popper.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/js/diag.js"></script>
    <hr>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="previous_page(6)">К прошлой странице</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="save_and_exit(6)">На главную</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="next_page(6)">Сохранить и перейти далее</button>

    </body>
</html>
