<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Blank Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
        <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="../static/offcanvas.css" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="../static/style.css" rel="stylesheet"/>
    </head>
    <body onload="restore(7)">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Диагностическая сессия</a>
                <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="/page" onclick="save(7)">К сесcии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="save_and_exit(7)">Мои клиенты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="couch_page(7)">Мой профиль</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Настройки</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown01">
                                <li><a class="dropdown-item" href="#">Action</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search"/>
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="nav-scroller bg-white shadow-sm">
            <nav class="nav nav-underline" aria-label="Secondary navigation">
                <a class="nav-link active" aria-current="page" onclick="save_and_exit(7)">На главную</a>
                <a class="nav-link" onclick="previous_page(7)">К прошлой странице</a>
                <a class="nav-link" onclick="next_page(7)">Сохранить и перейти далее</a>
            </nav>
        </div>
        <div class="container">
</div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <h1 class="ms-3 text-center text-success">Диагностика 3 &laquo;Помощь и поддержка&raquo;</h1>
        <div class="mb-2 me-5 ms-5 mt-1">
</div>
        <div class="me-3 ms-3">
            <div class="ms-3 row">
                <div class="col-md-5 text-wrap">
                    <h3 class="text-center"><b>Вопросы</b></h3> 
                    <div class="input-group mb-3"> 
                        <div class="w-100">
                            <span class="input-group-text text-wrap" id="basic-addon1"><b>7.1</b>Какая помощь и поддержка Вам нужна, чтобы все происходило именно так как Вы хотите и было похоже на (метафора)?</span>
                            <input type="text" class="form-control" placeholder="7.1" aria-label="Username" aria-describedby="basic-addon1" id="question_7.1_text"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3"> 
                        <div class="w-100">
                            <span class="input-group-text text-wrap" id="basic-addon1"><b>7.2&nbsp;<span style="font-size: 1rem; font-weight: 400; font-family: var(--bs-body-font-family);">Какая помощь из перечисленного Вам нужна:  время; мотивация; знания, способности; связи; эмоциональная поддержка; понимание, что именно нужно делать; трекинг прогресса?</span></b></span>
                            <select id="question_7.2_select" class="form-select" aria-label="Default select example" name="paattern_A.28_select" multiple>
                                <option selected value="0">не указано (удерживайте CTRL для выбора нескольких значений)</option>
                                <option value="1">Время</option>
                                <option value="2">Мотивация</option>
                                <option value="3">Знания</option>
                                <option value="4">Способности</option>
                                <option value="5">Связи</option>
                                <option value="6">Эмоциональная поддержка</option>
                                <option value="7">Понимание, что нужно делать</option>
                                <option value="8">План</option>
                                <option value="9">Трекинг прогресса</option>
                            </select>
                        </div>                         
                    </div>
                    <div class="input-group mb-3"> 
                        <div class="w-100">
                            <span class="input-group-text text-wrap" id="basic-addon1"><b>7.3</b>Для того, чтобы все произошло как Вы хотите Вам больше нужен вызов или поддержка?</span>
                            <select id="question_7.3_select" class="form-select" aria-label="Default select example" name="paattern_A.28_select">
                                <option selected value="0">не указано</option>
                                <option value="1">Вызов</option>
                                <option value="2">Поддержка</option>
                            </select>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 mw-100"> 
                        <div class="w-100">
                            <span class="input-group-text text-wrap" id="basic-addon1"><b>7.4</b>&nbsp;Кто Вас поддержит в том, чтобы все было именно так, как Вы хотите?<b></b></span>
                            <input type="text" class="form-control" placeholder="7.4" aria-label="Username" aria-describedby="basic-addon1" id="question_7.4_text"/>
                        </div>
                    </div>
                    <span class="input-group-text text-wrap" id="basic-addon1"><b>Комментарий</b></span>
                    <input type="text" class="form-control" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="q_7_commnt"/>
                    <p></p>
                </div>
                <div class="col-lg-6 col-md-4">
                    <h3 class="text-center"><b>Аналитики</b></h3> 
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100">
                            <span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А28</b>&nbsp;Готовность перейти от мечты к планированию</span>
                            <select id="combo_box_A28" class="form-select" aria-label="Default select example" name="paattern_A.28_select"> 
                                <option selected value="0">не указано</option>                                 
                                <option value="1">Низкая</option>                                 
                                <option value="2">Средняя</option>
                                <option value="3">Высокая</option>                                 
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A28_comment"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100">
                            <span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А29<span style="font-size: 1rem; font-weight: 400; font-family: var(--bs-body-font-family);">&nbsp; Готовность принимать внешнюю поддержку</span></b><b></b></span>
                            <select id="combo_box_A29" class="form-select" aria-label="Default select example" name="paattern_A.29_select"> 
                                <option selected value="0">не указано</option>                                 
                                <option value="1">Да</option>                                 
                                <option value="2">Нет</option>
                                <option value="3">Не определено</option>                                 
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A29_comment"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100">
                            <span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А30</b>&nbsp;Оценка ресурсов<b></b><b></b></span>
                            <select id="combo_box_A30" class="form-select" aria-label="Default select example" name="paattern_A.30_select"> 
                                <option selected value="0">не указано</option>                                 
                                <option value="1">Видит, Адекватная оценка</option>                                 
                                <option value="2">НЕ видит, Адекватная оценка</option>
                                <option value="3">Видит, НЕ адекватная оценка</option>
                                <option value="4">НЕ видит, НЕ адекватная оценка</option>                                 
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A30_comment"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100">
                            <span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А31</b>&nbsp;Потребность в  ресурсах<b></b><b></b></span>
                            <div class="row">
                                <div class="col-lg-6 col-md-6"> 
                                    <select id="combo_box_A31_1" class="form-select mt-1" aria-label="Default select example" name="paattern_A.31_1_select"> 
                                        <option selected value="0">не указано</option>                                         
                                        <option value="1">Время</option>                                         
                                        <option value="2">Мотивация</option>
                                        <option value="3">Знания</option>                                         
                                        <option value="4">Способности</option>                                         
                                        <option value="5">Связи</option>                                         
                                        <option value="6">Эмоциональная поддержка</option>                                         
                                        <option value="7">Понимание, что нужно делать</option>                                         
                                        <option value="8">План</option>                                         
                                        <option value="9">Трекинг прогресса</option>                                         
                                    </select>
                                    <select id="combo_box_A31_2" class="form-select mt-1" aria-label="Default select example" name="paattern_A.31_2_select"> 
                                        <option selected value="0">не указано</option>                                         
                                        <option value="1">Время</option>                                         
                                        <option value="2">Мотивация</option>
                                        <option value="3">Знания</option>                                         
                                        <option value="4">Способности</option>                                         
                                        <option value="5">Связи</option>                                         
                                        <option value="6">Эмоциональная поддержка</option>                                         
                                        <option value="7">Понимание, что нужно делать</option>                                         
                                        <option value="8">План</option>                                         
                                        <option value="9">Трекинг прогресса</option>                                         
                                    </select>
                                    <select id="combo_box_A31_3" class="form-select mt-1" aria-label="Default select example" name="paattern_A.31_3_select"> 
                                        <option selected value="0">не указано</option>                                         
                                        <option value="1">Время</option>                                         
                                        <option value="2">Мотивация</option>
                                        <option value="3">Знания</option>                                         
                                        <option value="4">Способности</option>                                         
                                        <option value="5">Связи</option>                                         
                                        <option value="6">Эмоциональная поддержка</option>                                         
                                        <option value="7">Понимание, что нужно делать</option>                                         
                                        <option value="8">План</option>                                         
                                        <option value="9">Трекинг прогресса</option>                                         
                                    </select>
                                    <select id="combo_box_A31_4" class="form-select mt-1" aria-label="Default select example" name="paattern_A.31_4_select"> 
                                        <option selected value="0">не указано</option>                                         
                                        <option value="1">Время</option>                                         
                                        <option value="2">Мотивация</option>
                                        <option value="3">Знания</option>                                         
                                        <option value="4">Способности</option>                                         
                                        <option value="5">Связи</option>                                         
                                        <option value="6">Эмоциональная поддержка</option>                                         
                                        <option value="7">Понимание, что нужно делать</option>                                         
                                        <option value="8">План</option>                                         
                                        <option value="9">Трекинг прогресса</option>                                         
                                    </select>
                                    <select id="combo_box_A31_5" class="form-select mt-1" aria-label="Default select example" name="paattern_A.31_5_select"> 
                                        <option selected value="0">не указано</option>                                         
                                        <option value="1">Время</option>                                         
                                        <option value="2">Мотивация</option>
                                        <option value="3">Знания</option>                                         
                                        <option value="4">Способности</option>                                         
                                        <option value="5">Связи</option>                                         
                                        <option value="6">Эмоциональная поддержка</option>                                         
                                        <option value="7">Понимание, что нужно делать</option>                                         
                                        <option value="8">План</option>                                         
                                        <option value="9">Трекинг прогресса</option>                                         
                                    </select>
                                </div>
                                <div class="col-lg-6 col-md-6"> 
                                    <select id="combo_box_A31_6" class="form-select mt-1" aria-label="Default select example" name="paattern_A.31_6_select"> 
                                        <option selected value="0">не указано</option>                                         
                                        <option value="1">Время</option>                                         
                                        <option value="2">Мотивация</option>
                                        <option value="3">Знания</option>                                         
                                        <option value="4">Способности</option>                                         
                                        <option value="5">Связи</option>                                         
                                        <option value="6">Эмоциональная поддержка</option>                                         
                                        <option value="7">Понимание, что нужно делать</option>                                         
                                        <option value="8">План</option>                                         
                                        <option value="9">Трекинг прогресса</option>                                         
                                    </select>
                                    <select id="combo_box_A31_7" class="form-select mt-1" aria-label="Default select example" name="paattern_A.31_7_select"> 
                                        <option selected value="0">не указано</option>                                         
                                        <option value="1">Время</option>                                         
                                        <option value="2">Мотивация</option>
                                        <option value="3">Знания</option>                                         
                                        <option value="4">Способности</option>                                         
                                        <option value="5">Связи</option>                                         
                                        <option value="6">Эмоциональная поддержка</option>                                         
                                        <option value="7">Понимание, что нужно делать</option>                                         
                                        <option value="8">План</option>                                         
                                        <option value="9">Трекинг прогресса</option>                                         
                                    </select>
                                    <select id="combo_box_A31_8" class="form-select mt-1" aria-label="Default select example" name="paattern_A.31_8_select"> 
                                        <option selected value="0">не указано</option>                                         
                                        <option value="1">Время</option>                                         
                                        <option value="2">Мотивация</option>
                                        <option value="3">Знания</option>                                         
                                        <option value="4">Способности</option>                                         
                                        <option value="5">Связи</option>                                         
                                        <option value="6">Эмоциональная поддержка</option>                                         
                                        <option value="7">Понимание, что нужно делать</option>                                         
                                        <option value="8">План</option>                                         
                                        <option value="9">Трекинг прогресса</option>                                         
                                    </select>
                                    <select id="combo_box_A31_9" class="form-select mt-1" aria-label="Default select example" name="paattern_A.31_9_select"> 
                                        <option selected value="0">не указано</option>                                         
                                        <option value="1">Время</option>                                         
                                        <option value="2">Мотивация</option>
                                        <option value="3">Знания</option>                                         
                                        <option value="4">Способности</option>                                         
                                        <option value="5">Связи</option>                                         
                                        <option value="6">Эмоциональная поддержка</option>                                         
                                        <option value="7">Понимание, что нужно делать</option>                                         
                                        <option value="8">План</option>                                         
                                        <option value="9">Трекинг прогресса</option>                                         
                                    </select>
                                </div>
                            </div>
                        </div>                         
                    </div>                     
                </div>
            </div>
        </div>
        <div class="me-5 ms-3">
            <div class="row">
                <h3 class="text-center"><b>ПАТТЕРНЫ</b></h3>
                <div class="col-md-6">
                    <h3 class="text-center">&nbsp;Паттерны коммуникации</h3> 
                    <div class="mb-3"> 
                        <label for="formInput131" class="mb-1">&nbsp;Высокий контекст/ Низкий контекст
                        </label>                         
                        <select id="combo_box_P1.1" class="form-select" aria-label="Default select example" name="paattern_7.1.1_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Высокий контекст: Полагаться на неявную коммуникации. Учитывать значение жестов, поз, голоса, контекста.</option>                             
                            <option value="2">Низкий контекст: Полагаться на явную коммуникацию. Отдавать предпочтение четким и подробным инструкциям.</option>                             
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput231" class="mb-1">&nbsp;Прямая/ Непрямая коммуникация (Критика)
                        </label>                         
                        <select id="combo_box_P.7.1.2" class="form-select" aria-label="Default select example" name="paattern_7.1.2_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Прямая коммуникация: Критика других прямая. В конфликтной ситуации или когда нужно озвучить нечто неприятное, отдавать предпочтения ясно и прямо излагать свою точку зрения, несмотря на риск задеть чувства собеседника.</option>                             
                            <option value="2">Непрямая коммуникация: Непрямая критика. В конфликтной ситуации или когда нужно озвучить нечто неприятное, отдавать предпочтение поддержанию теплых отношений, рискуя быть непонятым.</option>                             
                            ы                        
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1">&nbsp;Эмоциональность/ Нейтральность
                        </label>                         
                        <select id="combo_box_P.7.1.3" class="form-select" aria-label="Default select example" name="psttern_7.1.3_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Эмоциональность: Проявлять эмоции и теплоту при общении. Установление и поддержание личных и социальных связей является ключевым.</option>                             
                            <option value="2">Нейтральность: Подчеркивать лаконичность, точность и отстраненность при общении.</option>                             
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1">&nbsp;Формальность/ Неформальность (Убеждение других)
                        </label>                         
                        <select id="combo_box_P.7.1.4" class="form-select" aria-label="Default select example" name="psttern_7.1.4_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Формальность: Строго соблюдать протоколы и ритуалы. Вначале  принципы</option>                             
                            <option value="2">Неформальность: Отдавать предпочтение непринужденности и непосредственности. Вначале практика</option>                             
                        </select>                         
                    </div>                     
                </div>
                <div class="col-md-6">
                    <br>
                    <br>
                    <span class="input-group-text mt-1 mw-100 text-wrap" id="basic-addon1"><b>Паттерны восприятия времени<br/></b><b></b><b></b></span>
                    <div class="mb-3"> 
                        <label for="formInput231" class="mb-1"><b>7.1</b>&nbsp;Дефицит/Изобилие
                        </label>                         
                        <select id="combo_box_P.7.1" class="form-select" aria-label="Default select example" name="paattern_7.1_select">
                            <option selected>не выявлено</option>                             
                            <option value="1">Дефицит: Время – дефицитный ресурс. Управляй временем аккуратно!</option>                             
                            <option value="2">Непрямая коммуникация: Непрямая критика. В конфликтной ситуации или когда нужно озвучить нечто неприятное, отдавать предпочтение поддержанию теплых отношений, рискуя быть непонятым.</option>                             
                            ы                        
                        </select>                         
                    </div>
                    <div class="mb-3"> 
</div>
                    <span class="input-group-text mt-1 mw-100 text-wrap" id="basic-addon1"><b>Паттерны рабочего поведения<br/></b><b></b><b></b></span>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1"><b>7.2</b>&nbsp;Индивидуализм/ Коллективизм
                        </label>                         
                        <select id="combo_box_P.7.2" class="form-select" aria-label="Default select example" name="psttern_7.2_select">
                            <option selected>не выявлено</option>                             
                            <option value="1">Индивидуализм: Подчеркивать индивидуальные качества и проекты. Доверие на основе решаемых задач.</option>                             
                            <option value="2">Коллективизм: Подчеркивать принадлежность к группе. Доверие на основе отношений.</option>                             
                        </select>                         
                    </div>
                    <div class="mb-3"> 
</div><span class="input-group-text mt-1 mw-100 text-wrap" id="basic-addon1"><b>Паттерны рабочего поведения<br/></b><b></b><b></b></span>
                    <div class="mb-3"> 
                        <label for="formInput131" class="mb-1">
                            <b>7.3</b>&nbsp; Конкуренция/Сотрудничество (несогласие)
                        </label>                         
                        <select id="combo_box_P7.3" class="form-select" aria-label="Default select example" name="paattern_7.3_select">
                            <option selected>не выявлено</option>                             
                            <option value="1">Конкуренция: Содействовать успеху и прогрессу за счет стимулирования конкуренции. Конфронтация.</option>                             
                            <option value="2">Сотрудничество: Содействовать успеху и прогрессу за счет взаимной поддержки, обмена передовым опытом и солидарности. Избегание конфронтации.</option>                             
                        </select>                         
                    </div>
                    <div class="mb-3"> 
</div>                     
                </div>
            </div>
            <div class="row" data-empty-placeholder></div>
        </div><br/>
        <script src="../static/assets/js/popper.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/diag.js"></script>
    <hr>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="previous_page(7)">К прошлой странице</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="save_and_exit(7)">На главную</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="next_page(7)">Сохранить и перейти далее</button>

    </body>
</html>
