<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Blank Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
        <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="../static/offcanvas.css" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="../static/style.css" rel="stylesheet"/>
    </head>
    <body onload="restore(9)">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Диагностическая сессия</a>
                <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="/page" onclick="save(9)">К сесcии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="save_and_exit(9)">Мои клиенты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="couch_page(9)">Мой профиль</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Настройки</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown01">
                                <li><a class="dropdown-item" href="#">Action</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search"/>
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="nav-scroller bg-white shadow-sm">
            <nav class="nav nav-underline" aria-label="Secondary navigation">
                <a class="nav-link active" aria-current="page" onclick="save_and_exit(9)">На главную</a>
                <a class="nav-link" onclick="previous_page(9)">К прошлой странице</a>
                <a class="nav-link" onclick="next_page(9)">Сохранить и перейти далее</a>
            </nav>
        </div>
        <div class="container">
</div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <h1 class="ms-3 text-center text-success">Диагностика 5  &quot;Траектория развития_Цели&quot;</h1>
        <div class="mb-2 me-5 ms-5 mt-1">
</div>
        <div class="me-3 ms-3">
            <div class="ms-3 row" name="A23_comment">
                <div class="col-md-5 text-wrap">
                    <h3 class="text-center"><b>Вопросы</b></h3> 
                    <div class="input-group mb-3"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>9.1</b>&nbsp; &nbsp;Как Вы видите траекторию своего развития?</span>
                            <input type="text" class="form-control" placeholder="9.1" aria-label="Username" aria-describedby="basic-addon1" id="question_9.1_text"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>9.2</b>Насколько ясно  Вы осознаете куда идёте и в какой срок  хотите туда придти по шкале от 0 до 100%?</span>
                            <input type="text" class="form-control" placeholder="9.2" aria-label="Username" aria-describedby="basic-addon1" id="question_9.2_text"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 mw-100"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>9.3</b>&nbsp;От чего Вы испытываете большее удовлетворение: от достижения цели (прибытие пункт Б) или от процесса достижения, движения к желаемому(путь из А в Б)? <b></b></span>
                            <select id="question_9.3_select" class="form-select" aria-label="Default select example" name="question_9.3_select">
                                <option selected value="-1">не указано</option>
                                <option value="1">От достижения цели</option>
                                <option value="2">От процесса движения к желаемому</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group mb-3 mw-100"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>9.4</b>&nbsp;Сколько целей одновременно Вы себе как правило ставите? 1-2; 3-4; 5-6? Больше?<b></b></span>
                            <select id="question_9.4_select" class="form-select" aria-label="Default select example" name="question_9.4_select">
                                <option selected value="-1">не указано</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group mb-3 mw-100"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>9.5</b>&nbsp; Что в большей степени описывает Вашу траекторию развития: равномерные усилия, последовательные шаги,   небольшие, но ежедневные изменения, развитие скачками, достижение цели в  последний момент? <b></b></span>
                            <select id="question_9.5_select" class="form-select" aria-label="Default select example" name="question_9.5_select">
                                <option selected value="0">не указано</option>
                                <option value="1">Равномерные усилия</option>
                                <option value="2">Небольшие, но ежедневные изменения</option>
                                <option value="3">Развитие скачками</option>
                                <option value="4">Достижение цели в последний момент</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group mb-3 mw-100"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>9.6</b>&nbsp;Какие профессиональные и/или личные вызовы  есть  у Вас в моменте? <b></b></span>
                            <input type="text" class="form-control" placeholder="9.6" aria-label="Username" aria-describedby="basic-addon1" id="question_9.6_text"/>
                        </div>
                    </div>
                    <div class="input-group mb-3 mw-100"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>9.7</b>&nbsp; Какая цель для Вас сейчас самая актуальная?  Настолько она &quot;жгучая&quot; по шкале от 1 до 10? <b></b></span>
                            <div class="mt-1 row">
                                <div class="col-md-6"> 
                                    <input type="text" class="form-control" placeholder="9.7.1" aria-label="Username" aria-describedby="basic-addon1" id="question_9.7.1_text"/>
                                </div>
                                <div class="col-md-6"> 
                                    <select id="question_9.7.1_select" class="form-select" aria-label="Default select example" name="question_9.7.1_select">
                                        <option selected value="-1">не указано</option>                                         
                                        <option value="0">0</option>                                         
                                        <option value="1">1</option>                                         
                                        <option value="2">2</option>                                         
                                        <option value="3">3</option>                                         
                                        <option value="4">4</option>                                         
                                        <option value="5">5</option>                                         
                                        <option value="6">6</option>                                         
                                        <option value="7">7</option>                                         
                                        <option value="8">8</option>                                         
                                        <option value="9">9</option>                                         
                                        <option value="10">10</option>                                         
                                    </select>
                                </div>
                            </div>
                            <div class="mt-1 row">
                                <div class="col-md-6"> 
                                    <input type="text" class="form-control" placeholder="9.7.2" aria-label="Username" aria-describedby="basic-addon1" id="question_9.7.2_text"/>
                                </div>
                                <div class="col-md-6"> 
                                    <select id="question_9.7.2_select" class="form-select" aria-label="Default select example" name="question_9.7.2_select"> 
                                        <option selected value="-1">не указано</option>                                         
                                        <option value="0">0</option>                                         
                                        <option value="1">1</option>                                         
                                        <option value="2">2</option>                                         
                                        <option value="3">3</option>                                         
                                        <option value="4">4</option>                                         
                                        <option value="5">5</option>                                         
                                        <option value="6">6</option>                                         
                                        <option value="7">7</option>                                         
                                        <option value="8">8</option>                                         
                                        <option value="9">9</option>                                         
                                        <option value="10">10</option>                                         
                                    </select>
                                </div>
                            </div>
                            <div class="mt-1 row">
                                <div class="col-md-6"> 
                                    <input type="text" class="form-control" placeholder="9.7.3" aria-label="Username" aria-describedby="basic-addon1" id="question_9.7.3_text"/>
                                </div>
                                <div class="col-md-6"> 
                                    <select id="question_9.7.3_select" class="form-select" aria-label="Default select example" name="question_9.7.3_select"> 
                                        <option selected value="-1">не указано</option>                                         
                                        <option value="0">0</option>                                         
                                        <option value="1">1</option>                                         
                                        <option value="2">2</option>                                         
                                        <option value="3">3</option>                                         
                                        <option value="4">4</option>                                         
                                        <option value="5">5</option>                                         
                                        <option value="6">6</option>                                         
                                        <option value="7">7</option>                                         
                                        <option value="8">8</option>                                         
                                        <option value="9">9</option>                                         
                                        <option value="10">10</option>                                         
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3 mw-100"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>9.8</b>Есть ли среди Ваших целей те, что Вы считаете заведомо недостижимыми? Если Вы их ставите, то зачем? <b></b></span>
                            <input type="text" class="form-control" placeholder="9.8" aria-label="Username" aria-describedby="basic-addon1" id="question_9.8_text"/>
                        </div>
                    </div>
                    <div class="input-group mb-3 mw-100"> 
                        <div class="w-100"><span class="input-group-text text-wrap" id="basic-addon1"><b>9.9</b>&nbsp;Есть ли у Вас цели/мечты &quot;за горизонтом&quot; Вашей жизни? <b></b></span>
                            <select id="question_9.9_select" class="form-select" aria-label="Default select example" name="question_9.9_select">
                                        <option selected value="-1">не указано</option>
                                        <option value="0">Да</option>
                                        <option value="1">Нет</option>
                                    </select>
                        </div>
                    </div><span class="input-group-text text-wrap" id="basic-addon1"><b>Комментарий</b></span>
                    <input type="text" class="form-control" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="q_9_commnt"/>
                    <p></p>
                </div>
                <div class="col-lg-6 col-md-4">
                    <h3 class="text-center"><b>Аналитики</b></h3> 
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А35&nbsp;<span style="font-size: 1rem; font-weight: 400; font-family: var(--bs-body-font-family);">Есть общая картинка или нет</span></b></span>
                            <select id="combo_box_A35" class="form-select" aria-label="Default select example" name="paattern_A.35_select"> 
                                <option selected value="0">не указано</option>                                 
                                <option value="1">ДА. Есть общая картинка</option>                                 
                                <option value="2">НЕТ</option>                                 
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A35_comment"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1" name="paattern_A.23_select"><b>А36</b>&nbsp;Тяни или Толкай?</span>
                            <select id="combo_box_A36" class="form-select" aria-label="Default select example" name="paattern_A.36_select"> 
                                <option selected value="0">не указано</option>                                 
                                <option value="1">Тяни</option>                                 
                                <option value="2">Толкай</option>                                 
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A36_comment"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А37&nbsp;</b>Процесс или результат</span>
                            <select id="combo_box_A37" class="form-select" aria-label="Default select example" name="paattern_A.37_select"> 
                                <option selected value="0">не указано</option>                                 
                                <option value="1">Процесс</option>                                 
                                <option value="2">Результат</option>
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A37_comment"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А38&nbsp;</b>Форма траектории развития</span>
                            <select id="combo_box_A38" class="form-select" aria-label="Default select example" name="paattern_A.38_select"> 
                                <option selected value="0">не указано</option>                                 
                                <option value="1">Равномерные усилия</option>
                                <option value="2">Небольшие, но ежедневные изменения</option>
                                <option value="3">Развитие скачками</option>
                                <option value="4">Достижение цели в последний момент</option>
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A38_comment"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А39</b>&nbsp;Жгучесть целей (максимальное значение по шкале)<b></b><b></b></span>
                            <select id="combo_box_A39" class="form-select" aria-label="Default select example" name="paattern_A.39_select"> 
                                <option selected value="-1">не указано</option>
                                <option value="1">1</option>                                 
                                <option value="2">2</option>                                 
                                <option value="3">3</option>                                 
                                <option value="4">4</option>                                 
                                <option value="5">5</option>                                 
                                <option value="6">6</option>                                 
                                <option value="7">7</option>                                 
                                <option value="8">8</option>                                 
                                <option value="9">9</option>                                 
                                <option value="10">10</option>                                 
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A39_comment"/>
                        </div>                         
                    </div>
                    <div class="input-group mb-3 w-100"> 
                        <div class="mw-100 w-100"><span class="input-group-text mw-100 text-wrap" id="basic-addon1"><b>А40</b>&nbsp;Идеальное проектирование<b></b><b></b></span>
                            <select id="combo_box_A40" class="form-select" aria-label="Default select example" name="paattern_A.40_select"> 
                                <option selected value="0">не указано</option>                                 
                                <option value="1">3-6 месяцев</option>                                 
                                <option value="2">6-12 месяцев</option>
                                <option value="3">1-2 года</option>
                                <option value="4">2-3 года</option>
                                <option value="5">3-5 лет</option>
                                <option value="6">5-10 лет</option>
                                <option value="7">10-15 лет</option>
                                <option value="8">15-25 лет</option>
                                <option value="9">25-50 лет</option>
                                <option value="10">50-75 лет</option>
                                <option value="11">более 75 лет</option>
                                <option value="12">за горизонтом жизни</option>                                 
                            </select>
                            <input type="text" class="form-control w-100" placeholder="комментарий" aria-label="Username" aria-describedby="basic-addon1" id="A40_comment"/>
                        </div>                         
                    </div>                     
                </div>
            </div>
        </div>
        <div class="me-5 ms-3">
            <div class="row">
                <h3 class="text-center"><b>ПАТТЕРНЫ<br><br></b></h3>
                <div class="col-md-6">
                    <h3 class="text-center">&nbsp;Паттерны коммуникации</h3> 
                    <div class="mb-3"> 
                        <label for="formInput131" class="mb-1">&nbsp;Высокий контекст/ Низкий контекст
</label>                         
                        <select id="combo_box_P1.1" class="form-select" aria-label="Default select example" name="paattern_1.1_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Высокий контекст: Полагаться на неявную коммуникации. Учитывать значение жестов, поз, голоса, контекста.</option>                             
                            <option value="2">Низкий контекст: Полагаться на явную коммуникацию. Отдавать предпочтение четким и подробным инструкциям.</option>                             
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput231" class="mb-1">&nbsp;Прямая/ Непрямая коммуникация (Критика)
</label>                         
                        <select id="combo_box_P.1.2" class="form-select" aria-label="Default select example" name="paattern_1.2_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Прямая коммуникация: Критика других прямая. В конфликтной ситуации или когда нужно озвучить нечто неприятное, отдавать предпочтения ясно и прямо излагать свою точку зрения, несмотря на риск задеть чувства собеседника.</option>                             
                            <option value="2">Непрямая коммуникация: Непрямая критика. В конфликтной ситуации или когда нужно озвучить нечто неприятное, отдавать предпочтение поддержанию теплых отношений, рискуя быть непонятым.</option>                             
                            ы                        
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1">&nbsp;Эмоциональность/ Нейтральность
</label>                         
                        <select id="combo_box_P.1.3" class="form-select" aria-label="Default select example" name="psttern_1.3_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Эмоциональность: Проявлять эмоции и теплоту при общении. Установление и поддержание личных и социальных связей является ключевым.</option>                             
                            <option value="2">Нейтральность: Подчеркивать лаконичность, точность и отстраненность при общении.</option>                             
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1">&nbsp;Формальность/ Неформальность (Убеждение других)
</label>                         
                        <select id="combo_box_P.1.4" class="form-select" aria-label="Default select example" name="psttern_1.4_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Формальность: Строго соблюдать протоколы и ритуалы. Вначале  принципы</option>                             
                            <option value="2">Неформальность: Отдавать предпочтение непринужденности и непосредственности. Вначале практика</option>                             
                        </select>                         
                    </div>                     
                </div>
                <div class="col-md-6">
                    <h3 class="text-center">Паттерны восприятия времени</h3>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1">
                            <b>9.4</b>&nbsp;Монохронность/ Полихронность (Планирование времени)
                        </label>                         
                        <select id="combo_box_P.9.4" class="form-select" aria-label="Default select example" name="psttern_9.8_select">
                            <option selected>не выявлено</option>                             
                            <option value="1">Монохронность: Концентрация на одном виде деятельности и/или отношениях в один момент времени. Линейное время.</option>
                            <option value="2">Полихронность: Концентрация одновременно на несколько задачах и/или отношениях. Гибкое время (нелинейное время)</option>                             
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1">
                            <b>9.5</b>&nbsp;Монохронность/ Полихронность (Планирование времени)
                        </label>                         
                        <select id="combo_box_P.9.5" class="form-select" aria-label="Default select example" name="psttern_9.8_select">
                            <option selected>не выявлено</option>                             
                            <option value="1">Монохронность: Концентрация на одном виде деятельности и/или отношениях в один момент времени. Линейное время.</option>
                            <option value="2">Полихронность: Концентрация одновременно на несколько задачах и/или отношениях. Гибкое время (нелинейное время)</option>                             
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1">
                            <b>9.6</b>&nbsp;Монохронность/ Полихронность (Планирование времени)
                        </label>                         
                        <select id="combo_box_P.9.6" class="form-select" aria-label="Default select example" name="psttern_9.8_select">
                            <option selected>не выявлено</option>                             
                            <option value="1">Монохронность: Концентрация на одном виде деятельности и/или отношениях в один момент времени. Линейное время.</option>
                            <option value="2">Полихронность: Концентрация одновременно на несколько задачах и/или отношениях. Гибкое время (нелинейное время)</option>                             
                        </select>                         
                    </div>
                    <h3 class="text-center">Паттерны мышления</h3> 
                    <div class="mb-3"> 
</div>
                    <div class="mb-3"> 
</div>
                    <div class="mb-3"> 
</div>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1">
                            <b>9.1</b>&nbsp;Дедукция/ Индукция
                        </label>                         
                        <select id="combo_box_P.9.1" class="form-select" aria-label="Default select example" name="psttern_9.8_select">
                            <option selected>не выявлено</option>                             
                            <option value="1">Дедукция: Отдавать предпочтение концепциям, теориям и общим принципам. Затем с помощью логических обоснований находить практическое применение и решения.</option>                             
                            <option value="2">Индукция: Начать с опыта, конкретных ситуаций, случаев. Затем используя интуицию, формулировать общие модели и теории.</option>                             
                        </select>                         
                    </div>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1">
                            <b>9.8</b>&nbsp;Рефлексивность/импульсивность
                        </label>                         
                        <select id="combo_box_P.9.8" class="form-select" aria-label="Default select example" name="psttern_9.8_select"> 
                            <option selected>не выявлено</option>                             
                            <option value="1">Рефлексивность. Склонность принимать решения медленно. Неэффективны в ситуациях неопределенности. </option>                             
                            <option value="2">Импульсивность:  Склонность принимать решения быстро. Быстро реагировать в ситуации множественного выбора (выбирать одно). Не испытывают стресса в ситуации неопределенности    </option>                             
                        </select>                         
                    </div>
                    <h3 class="text-center">Паттерны восприятия времени</h3>
                    <div class="mb-3"> 
                        <label for="formInput331" class="mb-1">
                            <b>9.9</b>&nbsp;Прошлое/ Настоящее / Будущее
                        </label>                         
                        <select id="combo_box_P.9.9" class="form-select" aria-label="Default select example" name="psttern_9.8_select">
                            <option selected>не выявлено</option>                             
                            <option value="1">Прошлое: Учиться на опыте прошлого. Настоящее является по сути продолжением или повторением прошлых событий.</option>                             
                            <option value="2">Настоящее: Сосредоточиться «здесь и сейчас» и краткосрочных выгодах.</option>
                            <option value="2">Будущее: Стремиться к долгосрочным выгодам. Продвигать далеко идущее видение.</option>                             
                        </select>                         
                    </div>                     
                </div>
            </div>
            <div class="row" data-empty-placeholder></div>
        </div><br/>
        <script src="../static/assets/js/popper.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/js/diag.js"></script>
        <hr>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="previous_page(9)">К прошлой странице</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="save_and_exit(9)">На главную</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="next_page(9)">Сохранить и перейти далее</button>

    </body>
</html>
