<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Настройки личного кабинета</title>
        <link href="/static/css/theme.css" rel="stylesheet" type="text/css">
        <link href="/static/css/adminstyle.css" rel="stylesheet">
        <link rel="icon" href="favicon.ico">
    </head>
    <body>
        <div class="background">
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
        </div>
        <div class="container">
            <form name="forma" method="post">
                <input type="text" placeholder="Имя" name="name" required>
                <input type="text" placeholder="Фамилия" name="surname" required>
                <input type="text" placeholder="Квалификация" name="address" required>
                <input type="text" placeholder="Стоимость час в рублях" name="price" required>
                <input type="submit" value="Изменить">
            </form>
        </div>
    </body>
</html>