<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <title>Демонстрация</title>
</head>
<body style="width:80%; margin-left:auto;margin-right:auto;" onload="">
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script type="text/javascript">
	function dd(){document.getElementById("input").defaultValue = "Алина, тогда начнем с таких каких-то демографических характеристик. Расскажи, пожалуйста, о себе: возраст, образование, семейное положение, твои хобби, увлечения. Ну, гречка – на каждый день, а гастрономический опыт – вот иногда можно себе позволить. Хорошо звучит. Если обозначить какие-то твои основные цели на 22 год, какие-то фокусы в жизни, вот что это за фокусы? Классно вообще ответила сейчас, мне очень понравилось, вот этот ответ на вопрос. И скажи, пожалуйста, и для того, чтобы все происходило ровно, как ты хотела бы, чтобы происходило, чтобы все получалось и происходило ровно, как ты хочешь, какие ресурсы тебе нужны? Какие ресурсы у тебя есть, и какие ресурсы тебе нужны?";}
    function clearTable() {
    console.log("clearing table")
	const old_tbody = document.getElementById("table")
    let new_tbody = document.createElement('div');
    new_tbody.id = "table";
    new_tbody.style.cssText = "margin-top: 2em;"
    old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
}
    function clearTable3() {
        const old_tbody = document.getElementById("table3")
        let new_tbody = document.createElement('div');
        new_tbody.id = "table3";
        new_tbody.style.cssText = "margin-top: 2em;"
        old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
    }

    function clearIntro() {
	const old_tbody = document.getElementById("intro")
    let new_tbody = document.createElement('div');
    new_tbody.id = "intro";
    new_tbody.style.cssText = "margin-top: 2em;"
    old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
}
    function clearTriggers() {
        const old_tbody = document.getElementById("triggers")
        let new_tbody = document.createElement('div');
        new_tbody.id = "triggers";
        new_tbody.style.cssText = "margin-top: 2em;"
        old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
    }
    function clearTable4() {
        const old_tbody = document.getElementById("table4")
        let new_tbody = document.createElement('div');
        new_tbody.id = "table4";
        new_tbody.style.cssText = "margin-top: 2em;"
        old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
    }
    function clearTable5() {
        const old_tbody = document.getElementById("table5")
        let new_tbody = document.createElement('div');
        new_tbody.id = "table5";
        new_tbody.style.cssText = "margin-top: 2em;"
        old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
    }
    function clearTable6() {
        const old_tbody = document.getElementById("table6")
        let new_tbody = document.createElement('div');
        new_tbody.id = "table6";
        new_tbody.style.cssText = "margin-top: 2em;"
        old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
    }
    function clearTable7() {
        const old_tbody = document.getElementById("table7")
        let new_tbody = document.createElement('div');
        new_tbody.id = "table7";
        new_tbody.style.cssText = "margin-top: 2em;"
        old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
    }
    function clearTable8() {
        const old_tbody = document.getElementById("table8")
        let new_tbody = document.createElement('div');
        new_tbody.id = "table8";
        new_tbody.style.cssText = "margin-top: 2em;"
        old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
    }
    function clearTable9() {
        const old_tbody = document.getElementById("table9")
        let new_tbody = document.createElement('div');
        new_tbody.id = "table9";
        new_tbody.style.cssText = "margin-top: 2em;"
        old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
    }
    function clearTable10() {
        const old_tbody = document.getElementById("table10")
        let new_tbody = document.createElement('div');
        new_tbody.id = "table10";
        new_tbody.style.cssText = "margin-top: 2em;"
        old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
    }
    function clearTextarea() {
        document.getElementById('input').value = '';
    }

    function search() {
        clearTable();
        clearIntro();
        clearTable3();
        clearTriggers();
        clearTable4();
        clearTable5();
        clearTable6()
        clearTable7()
        clearTable8()
        clearTable9()
        clearTable10()
            let input = document.getElementById('input');
            let output = document.getElementById('output');
            // send a get request
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/search', true);
            xhr.onload = function() {
                if (xhr.status == 200) {
                    let q = JSON.parse(xhr.responseText);
                    //output.innerHTML = "Начало секции калибровки: "+q.begin+"; Конец секции калибровки: "+q.end+";";
                    tableCreate(q.data);
                    tableIntroCreate(q.intro);
                    table3Create(q.table3);
                    table4Create(q.diag1);
                    tableTriggersCreate(q.triggers);
                    table5Create(q.diag2);
                    table6Create(q.diag3);
                    table7Create(q.diag4);
                    table8Create(q.diag5);
                    table9Create(q.diag6);
                    table10Create(q.diag7);
                }
            }
            xhr.send("input=" + input.value.replaceAll('\n', '::'));

        }
        function change_selection(value) {
            let input = document.getElementById('input');
            let xhr = new XMLHttpRequest();
            xhr.open('GET', '/example_search?query=' + value, true);
            xhr.onload = function() {
                if (xhr.status == 200) {
                    input.value = JSON.parse(xhr.responseText).data;
                }
            }
            //input.value = value.replaceAll('::', '\n');
            xhr.send();
        }
        function tableCreate(o) {
        new gridjs.Grid(o).render(document.getElementById("table"));
        }
        function tableIntroCreate(o) {
        new gridjs.Grid(o).render(document.getElementById("intro"));
        }
        function table3Create(o) {
        new gridjs.Grid(o).render(document.getElementById("table3"));
        }
        function table4Create(o) {
            new gridjs.Grid(o).render(document.getElementById("table4"));
        }
        function tableTriggersCreate(o) {
        new gridjs.Grid(o).render(document.getElementById("triggers"));
        }
        function table5Create(o) {
        new gridjs.Grid(o).render(document.getElementById("table5"));
        }
        function table6Create(o) {
        new gridjs.Grid(o).render(document.getElementById("table6"));
        }
        function table7Create(o) {
        new gridjs.Grid(o).render(document.getElementById("table7"));
        }
        function table8Create(o) {
        new gridjs.Grid(o).render(document.getElementById("table8"));
        }
        function table9Create(o) {
        new gridjs.Grid(o).render(document.getElementById("table9"));
        }
        function table10Create(o) {
        new gridjs.Grid(o).render(document.getElementById("table10"));
        }
    </script>
    <fieldset style="max-width: 70%">
        <legend style="margin-bottom: 1em;"><h3>Демонстрация</h3> <a href="/excel">Парсинг excel</a></legend>
        <div>
            <article class="card">
                <header>
                <label for="recent">Выбрать ранее загруженное...</label>
                <select id="recent" name="recent" onchange="change_selection(this.value)">
                    <option selected></option>
                    {% for tag in clients %}
                    <option>{{ tag }}</option>
                    {% end %}
                </select>
                </header>
            </article>


            <label for="input" class="stack">Текст:</label><textarea class="stack" id="input" name="input" rows="10"></textarea>
            <button type="submit" value="Найти" onclick="search()" class="stack"><span>Найти</span><small style="margin-left: 2em; color: beige;">(может занять несколько секунд)</small></button>
            <button type="button" value="Очистить" onclick="clearTextarea()" class="stack"><span>Очистить</span></button>
            <!--<label for="output" class="stack">Распознанный вопрос:</label><textarea class="stack" id="output" name="output" readonly rows="10"></textarea>-->
        </div>
    </fieldset>
    <div id="intro" style="margin-top: 2em;"></div>
    <p id="output" style="margin-top: 1em;"></p>
    <div id="table" style="margin-top: 2em;"></div>
    <div id="table3" style="margin-top: 2em;"></div>
    <div id="triggers" style="margin-top: 2em;"></div>
    <div id="table4" style="margin-top: 2em;"></div>
    <div id="table5" style="margin-top: 2em;"></div>
    <div id="table6" style="margin-top: 2em;"></div>
    <div id="table7" style="margin-top: 2em;"></div>
    <div id="table8" style="margin-top: 2em;"></div>
    <div id="table9" style="margin-top: 2em;"></div>
    <div id="table10" style="margin-top: 2em;"></div>
</body>
</html>
