<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Авторизация</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
</head>
<body>
<script>
    function getter() {

    }
</script>
<div class="background">
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
</div>
<header>
    <div id="window1">
        <div class="form">
            <h2 style="margin-bottom: 40px;">Авторизация</h2>
            <form name="forma" method="post">
                <h3>{{mes}}</h3>
                <input type="text" placeholder="Логин" name="log" >
                <input type="password" placeholder="Пароль" name="pas">
                <input type="submit" value="Sign in">
		<a href = "/registration">Регистрация</a>
            </form>
        </div>
    </div>
</header>
</body>
</html>
