<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Мои клиенты</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!-- <style>body{opacity: 0;}</style> -->
	<link rel="stylesheet" href="../static/css/style_couch.min.css?_v=20230403215316">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<!-- 	&display=swap -->
	<!-- 	&subset=cyrillic-ext -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Reset CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css?_v=20230403215316">

	<!-- Calendar Style CSS -->
{#	<link rel="stylesheet" href="scr/styles.css?_v=20230403215316">#}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap&subset=cyrillic-ext&_v=20230403215316" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap&subset=cyrillic-ext&_v=20230403215316" rel="stylesheet" />
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__container">
				<div class="header__body">
					<a href="/couch" class="header__logo">
						AI
						<span>4G</span>
					</a>
					<div class="header_menu menu" data-da=".header__profile,991.98">
						<button type="button" class="menu__icon icon-menu">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<nav class="menu__body">
							<ul data-spollers="992,max" class="menu__list">
								<li class="menu__item menu__item_logo">
									<a href="/couch" class="header__logo">
										AI
										<span>4G</span>
									</a>
								</li>
								<li class="menu__item">
									<a href="/couch" class="menu__link">Главная</a>
								</li>
								<li class="menu__item">
									<a href="/my_profile" class="menu__link">Мой профиль</a>
								</li>
								<li class="menu__item">
									<a href="/my_clients" class="menu__link">Мои клиенты</a>
								</li>
								<li class="menu__item">
									<a href="/my_articles" class="menu__link">Мои статьи</a>
								</li>
								<li class="menu__item">
									<a href="/my_news" class="menu__link">Мои новости</a>
								</li>
								<li class="menu__item">
									<a href="/my_messages" class="menu__link">Мои сообщения</a>
								</li>
								<li class="menu__item">
									<a href="/my_organizer" class="menu__link">Мой органайзер</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="header__profile">
						<div data-da=".menu__body,767.98" class="header__search">
							<input placeholder="Поиск" type="text" name="text" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" maxlength="255" class="header__input">
							<button class="header__button _icon-search"></button>
						</div>
						<a class="header__bell _icon-bell" href=""></a>
						<div class="header__image-box">
							<a href="/couch_settings" class="header__image">
								<span class="header__word">К</span>
								<span class="header__word_hidden">Изменить фото</span>
							</a>
						</div>
						<a class="header__exit _icon-exit" href="/login"></a>
					</div>
				</div>
			</div>
		</header>

		<main class="page page-my-clients">
			<section class="account">
				<div class="account__container">
					<div class="account__title title">
						Мои клиенты
					</div>
					<div class="account__body">
						<div class="account__left">
							<form class="account__form form-filter" action="">
								<div class="form-filter__block">
									<div class="form-filter__title">Сортировка</div>
									<select data-submit data-scroll name="form[]" class="form">
										<option value="" class="form-filter__option_1 _icon-arrow-up" selected>По имени</option>
										<option value="2" class="form-filter__option_2  _icon-arrow-up">По имени</option>
										<option value="3" class="form-filter__option_3  _icon-arrow-up">По фамилии</option>
										<option value="4" class="form-filter__option_4  _icon-arrow-up">По фамилии</option>
									</select>
								</div>
								<div class="form-filter__block">
									<div class="form-filter__title">Параметры поиска</div>
									<div class="form-filter__item">
										<div class="form-filter__subtitle">Возраст</div>
										<select data-submit data-scroll name="form[]" class="form">
											<option value="" selected>от 29</option>
											<option value="2">30</option>
										</select>
										<select data-submit data-scroll name="form[]" class="form">
											<option value="" selected>до 65</option>
											<option value="2">66</option>
										</select>
									</div>
									<div class="form-filter__item">
										<div class="form-filter__subtitle">Пол</div>
										<div class="form-filter__radio">
											<input type="radio" id="man" name="drone" value="мужской">
											<label for="man">мужской</label>
										</div>
										<div class="form-filter__radio">
											<input type="radio" id="woman" name="drone" value="женский">
											<label for="woman">женский</label>
										</div>
									</div>
									<div class="form-filter__item">
										<div class="form-filter__subtitle">Проведения ДС</div>
										<select data-submit data-scroll name="form[]" class="form">
											<option value="" selected>год</option>
											<option value="2">2022</option>
											<option value="3">2021</option>
											<option value="4">2020</option>
										</select>
										<select data-submit data-scroll name="form[]" class="form">
											<option value="" selected>месяц</option>
											<option value="2">январь</option>
											<option value="3">февраль</option>
										</select>
										<select data-submit data-scroll name="form[]" class="form">
											<option value="" selected>число</option>
											<option value="2">1</option>
											<option value="3">2</option>
										</select>
									</div>
								</div>
							</form>
						</div>
						<div class="account__right">
							<div class="account__couch-data">
								<div class="couch-my-clients">
									<div class="couch-my-clients__content">
										<div class="couch-my-clients__content-block">
											{% for user in users %}
											<div class="couch-my-clients__block-text text-block-my-clients">
												<div class="text-block-my-clients__client">
													<div class="text-block-my-clients__image-box">
														<div class="text-block-my-clients__image">
															<span class="text-block-my-clients__word">К</span>
														</div>
													</div>
													<button class="text-block-my-clients__title" name="link" value = "{{user[4]}}">{{user[0]+ " " + user[2]}}</button>
												</div>
												<div class="text-block-my-clients__right">
													<ul class="text-block-my-clients__icons">
														<li>
															<form method="post">
																<button name="link" value = "{{user[4]}}">
																<img title="Загрузка ДС" src="../static/img/person/download.svg" alt="">
																</button>
																<input name="redirect" value="/viduploading" hidden></input>
															</form>
														</li>
														<li>
															<form method="post">
																<button name="link" value = "{{user[4]}}">
																<img title="График выполнения ИТР" src="../static/img/person/chart-line.svg" alt="">
																</button>
																<input name="redirect" value="/preanalysis" hidden></input>
															</form>
														</li>
														<li>
															<form method="post">
																<button name="link" value = "{{user[4]}}">
																	<img title="Обратная связь" src="../static/img/person/feedback.svg" alt="">
																</button>
																<input name="redirect" value="/feedback" hidden></input>
															</form>
														</li>
														<li>
															<form method="post">
																<button name="link" value = "{{user[4]}}">
																	<img title="Просмотр профиля клиента" src="../static/img/person/eye.svg" alt="">
																</button>
																<input name="redirect" value="/view_customer_profile" hidden></input>
															</form>
														</li>
													</ul>
												</div>
											</div>
                                            {% end %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	</div>
	</section>
	</main>
	<footer class="footer">
		<div class="footer__container">
		</div>
	</footer>
	</div>
	<!-- 
<div id="popup" aria-hidden="true" class="popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close">Закрыть</button>
			<div class="popup__text">
			</div>
		</div>
	</div>
</div>
 -->
	<script src="../static/js/app_couch.min.js?_v=20230403215316"></script>
</body>

</html>