<!DOCTYPE html>
<html lang="ru">

<head>
	<title>График выполнения</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!-- <style>body{opacity: 0;}</style> -->
	<link rel="stylesheet" href="../static/css/style_client.min.css?_v=20230331104513">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<!-- 	&display=swap -->
	<!-- 	&subset=cyrillic-ext -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__container">
				<div class="header__body">
					<a href="/user_client" class="header__logo">
						AI
						<span>4G</span>
					</a>
					<div class="header_menu menu" data-da=".header__profile,991.98">
						<button type="button" class="menu__icon icon-menu">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<nav class="menu__body">
							<ul class="menu__list">
								<li class="menu__item menu__item_logo">
									<a href="/user_client" class="header__logo">
										AI
										<span>4G</span>
									</a>
								</li>
								<li class="menu__item">
									<a href="/user_client" class="menu__link">Главная</a>
								</li>
								<li class="menu__item">
									<a href="" class="menu__link">Мои программы</a>
								</li>
								<li class="menu__item">
									<a href="" class="menu__link">Все курсы</a>
								</li>
								<li class="menu__item">
									<a href="/my_events" class="menu__link">Мои события</a>
								</li>
								<li class="menu__item">
									<a href="/client_settings" class="menu__link">Настройки</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="header__profile">
						<div data-da=".menu__body,767.98" class="header__search">
							<input placeholder="Поиск" type="text" name="text" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" maxlength="255" class="header__input">
							<button class="header__button _icon-search"></button>
						</div>
						<a class="header__bell _icon-bell" href=""></a>
						<div class="header__image-box">
							<a href="settings.html" class="header__image">
								<span class="header__word">К</span>
								<span class="header__word_hidden">Изменить фото</span>
							</a>
						</div>
						<a class="header__exit _icon-exit" href="/login"></a>
					</div>
				</div>
			</div>
		</header>

		<main class="page">
			<section class="account">
				<div class="account__container">
					<div class="account__body">
						<div class="account__column-left">
							<div class="account__logo">
								<div class="account__image-box">
									<a href="" class="account__image">
										<span class="account__word">А</span>
										<span class="account__word_hidden">Изменить фото</span>
									</a>
									<img src="../static/img/camera.svg" alt="">
								</div>
								<a href="" class="account__name">
									<div>{{data[0][0]}}</div>
									<div>{{data[0][1]}}</div>
								</a>
							</div>
							<ul class="account__sidebar-list">
								<li class="account__sidebar-item ">
									<a href="/user_client" class="account__sidebar-link">Главная</a>
								</li>
								<li class="account__sidebar-item ">
									<a href="/my_events" class="account__sidebar-link">Мои события</a>
								</li>
								<li class="account__sidebar-item ">
									<a href="/user_client" class="account__sidebar-link">Записаться на ДС</a>
								</li>
								<li class="account__sidebar-item ">
									<a href="/client_meeting_link" class="account__sidebar-link">Подключиться к сессии</a>
								</li>
								<li class="account__sidebar-item ">
									<a href="/feedback" class="account__sidebar-link">Обратная связь</a>
								</li>
								<li class="account__sidebar-item ">
									<a href="/execution_schedule" class="account__sidebar-link">График выполнения</a>
								</li>
								<li class="account__sidebar-item ">
									<a href="/client_settings" class="account__sidebar-link">Настройки</a>
								</li>
							</ul>
						</div>
						<div class="account__user-data user-data">
							<div class="user-data-main">
								<div class="user-data-main__title">
									Мои события
								</div>
								<div class="user-data-main__content">
									<div class="user-data-main__content-block">
										<div class="user-data-main__block-text text-block">
											<div class="text-block__title">Здесь будут ваши события</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="footer__container">
			</div>
		</footer>
	</div>
	<!--
<div id="popup" aria-hidden="true" class="popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close">Закрыть</button>
			<div class="popup__text">
			</div>
		</div>
	</div>
</div>
 -->
	<script src="../static/js/app_client.min.js?_v=20230331104513"></script>
</body>

</html>