<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Мои сообщения</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!-- <style>body{opacity: 0;}</style> -->
	<link rel="stylesheet" href="../static/css/style_couch.min.css?_v=20230403215316">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<!-- 	&display=swap -->
	<!-- 	&subset=cyrillic-ext -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Reset CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css?_v=20230403215316">

	<!-- Calendar Style CSS -->
{#	<link rel="stylesheet" href="scr/styles.css?_v=20230403215316">#}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap&subset=cyrillic-ext&_v=20230403215316" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap&subset=cyrillic-ext&_v=20230403215316" rel="stylesheet" />
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__container">
				<div class="header__body">
					<a href="/couch" class="header__logo">
						AI
						<span>4G</span>
					</a>
					<div class="header_menu menu" data-da=".header__profile,991.98">
						<button type="button" class="menu__icon icon-menu">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<nav class="menu__body">
							<ul data-spollers="992,max" class="menu__list">
								<li class="menu__item menu__item_logo">
									<a href="/couch" class="header__logo">
										AI
										<span>4G</span>
									</a>
								</li>
								<li class="menu__item">
									<a href="/couch" class="menu__link">Главная</a>
								</li>
								<li class="menu__item">
									<a href="/my_profile" class="menu__link">Мой профиль</a>
								</li>
								<li class="menu__item">
									<a href="/my_clients" class="menu__link">Мои клиенты</a>
								</li>
								<li class="menu__item">
									<a href="/my_articles" class="menu__link">Мои статьи</a>
								</li>
								<li class="menu__item">
									<a href="/my_news" class="menu__link">Мои новости</a>
								</li>
								<li class="menu__item">
									<a href="/my_messages" class="menu__link">Мои сообщения</a>
								</li>
								<li class="menu__item">
									<a href="/my_organizer" class="menu__link">Мой органайзер</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="header__profile">
						<div data-da=".menu__body,767.98" class="header__search">
							<input placeholder="Поиск" type="text" name="text" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" maxlength="255" class="header__input">
							<button class="header__button _icon-search"></button>
						</div>
						<a class="header__bell _icon-bell" href=""></a>
						<div class="header__image-box">
							<a href="/couch_settings" class="header__image">
								<span class="header__word">К</span>
								<span class="header__word_hidden">Изменить фото</span>
							</a>
						</div>
						<a class="header__exit _icon-exit" href="/login"></a>
					</div>
				</div>
			</div>
		</header>

		<main class="page">
			<section class="my-messages">
				<div class="my-messages__container">
					<div class="my-messages__title title">Мои сообщения</div>
					<div class="my-messages__body">
						<div class="my-messages__left left-messages">
							<a class="left-messages__client" href="">
								<div class="left-messages__image-box">
									<div class="left-messages__image">
										<span class="left-messages__word">К</span>
									</div>
								</div>
								<div class="left-messages__title">Никита Лобанов</div>
							</a>
							<a class="left-messages__client" href="">
								<div class="left-messages__image-box">
									<div class="left-messages__image">
										<span class="left-messages__word">К</span>
									</div>
								</div>
								<div class="left-messages__title">Никита Лобанов</div>
							</a>
							<a class="left-messages__client" href="">
								<div class="left-messages__image-box">
									<div class="left-messages__image">
										<span class="left-messages__word">К</span>
									</div>
								</div>
								<div class="left-messages__title">Никита Лобанов</div>
							</a>
							<a class="left-messages__client" href="">
								<div class="left-messages__image-box">
									<div class="left-messages__image">
										<span class="left-messages__word">К</span>
									</div>
								</div>
								<div class="left-messages__title">Никита Лобанов</div>
							</a>
							<a class="left-messages__client" href="">
								<div class="left-messages__image-box">
									<div class="left-messages__image">
										<span class="left-messages__word">К</span>
									</div>
								</div>
								<div class="left-messages__title">Никита Лобанов</div>
							</a>
							<a class="left-messages__client" href="">
								<div class="left-messages__image-box">
									<div class="left-messages__image">
										<span class="left-messages__word">К</span>
									</div>
								</div>
								<div class="left-messages__title">Никита Лобанов</div>
							</a>
							<a class="left-messages__client" href="">
								<div class="left-messages__image-box">
									<div class="left-messages__image">
										<span class="left-messages__word">К</span>
									</div>
								</div>
								<div class="left-messages__title">Никита Лобанов</div>
							</a>
							<a class="left-messages__client" href="">
								<div class="left-messages__image-box">
									<div class="left-messages__image">
										<span class="left-messages__word">К</span>
									</div>
								</div>
								<div class="left-messages__title">Никита Лобанов</div>
							</a>
							<a class="left-messages__client" href="">
								<div class="left-messages__image-box">
									<div class="left-messages__image">
										<span class="left-messages__word">К</span>
									</div>
								</div>
								<div class="left-messages__title">Никита Лобанов</div>
							</a>
							<a class="left-messages__client" href="">
								<div class="left-messages__image-box">
									<div class="left-messages__image">
										<span class="left-messages__word">К</span>
									</div>
								</div>
								<div class="left-messages__title">Никита Лобанов</div>
							</a>
							<a class="left-messages__client" href="">
								<div class="left-messages__image-box">
									<div class="left-messages__image">
										<span class="left-messages__word">К</span>
									</div>
								</div>
								<div class="left-messages__title">Никита Лобанов</div>
							</a>
							<a class="left-messages__client" href="">
								<div class="left-messages__image-box">
									<div class="left-messages__image">
										<span class="left-messages__word">К</span>
									</div>
								</div>
								<div class="left-messages__title">Никита Лобанов</div>
							</a>
						</div>
						<div class="my-messages__right right-messages">
							<div class="right-messages__top">
								<a class="right-messages__client" href="">
									<div class="right-messages__image-box">
										<div class="right-messages__image">
											<span class="right-messages__word">К</span>
										</div>
									</div>
									<div class="right-messages__title">Никита Лобанов</div>
								</a>
								<div class="right-messages__setting">
									<img src="../static/img/icons/three-points.svg" alt="">
								</div>
							</div>
							<div class="right-messages__main"></div>
							<div class="right-messages__bottom">
								<form class="right-messages__send" action="">
									<input class="right-messages__input" type="text" placeholder="Введите сообщение">
									<button type="submit" class="right-messages__button">
										<img src="../static/img/icons/send-svgrepo.svg" alt="">
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="footer__container">
			</div>
		</footer>
	</div>
	<!-- 
<div id="popup" aria-hidden="true" class="popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close">Закрыть</button>
			<div class="popup__text">
			</div>
		</div>
	</div>
</div>
 -->
	<script src="../static/js/app_couch.min.js?_v=20230403215316"></script>
</body>

</html>