<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Мой профиль</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!-- <style>body{opacity: 0;}</style> -->
	<link rel="stylesheet" href="../static/css/style_couch.min.css?_v=20230403215316">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<!-- 	&display=swap -->
	<!-- 	&subset=cyrillic-ext -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Reset CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css?_v=20230403215316">

	<!-- Calendar Style CSS -->
{#	<link rel="stylesheet" href="scr/styles.css?_v=20230403215316">#}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap&subset=cyrillic-ext&_v=20230403215316" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap&subset=cyrillic-ext&_v=20230403215316" rel="stylesheet" />
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__container">
				<div class="header__body">
					<a href="/couch" class="header__logo">
						AI
						<span>4G</span>
					</a>
					<div class="header_menu menu" data-da=".header__profile,991.98">
						<button type="button" class="menu__icon icon-menu">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<nav class="menu__body">
							<ul data-spollers="992,max" class="menu__list">
								<li class="menu__item menu__item_logo">
									<a href="/couch" class="header__logo">
										AI
										<span>4G</span>
									</a>
								</li>
								<li class="menu__item">
									<a href="/couch" class="menu__link">Главная</a>
								</li>
								<li class="menu__item">
									<a href="/my_profile" class="menu__link">Мой профиль</a>
								</li>
								<li class="menu__item">
									<a href="/my_clients" class="menu__link">Мои клиенты</a>
								</li>
								<li class="menu__item">
									<a href="/my_articles" class="menu__link">Мои статьи</a>
								</li>
								<li class="menu__item">
									<a href="/my_news" class="menu__link">Мои новости</a>
								</li>
								<li class="menu__item">
									<a href="/my_messages" class="menu__link">Мои сообщения</a>
								</li>
								<li class="menu__item">
									<a href="/my_organizer" class="menu__link">Мой органайзер</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="header__profile">
						<div data-da=".menu__body,767.98" class="header__search">
							<input placeholder="Поиск" type="text" name="text" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" maxlength="255" class="header__input">
							<button class="header__button _icon-search"></button>
						</div>
						<a class="header__bell _icon-bell" href=""></a>
						<div class="header__image-box">
							<a href="/couch_settings" class="header__image">
								<span class="header__word">К</span>
								<span class="header__word_hidden">Изменить фото</span>
							</a>
						</div>
						<a class="header__exit _icon-exit" href="/login"></a>
					</div>
				</div>
			</div>
		</header>

		<main class="page">
			<section class="my-profile">
				<div class="my-profile__container">
					<h1 class="my-profile__title title">
						Мой профиль
					</h1>
					<div class="my-profile__body">
						<div class="my-profile__left">
							<div class="my-profile__image-box">
								<a href="" class="my-profile__image">
									<span class="my-profile__word">К</span>
									<span class="my-profile__word_hidden">Изменить фото</span>
								</a>
							</div>
							<div class="my-profile__block">
								<div class="my-profile__name">
									<div>{{data[0][2]}}</div>
									<div>{{data[0][0]}}</div>
									<div>{{data[0][1]}}</div>
								</div>
								<div class="my-profile__line"></div>
								<div class="my-profile__profession">Бизнес-коуч</div>
								<div class="my-profile__location">Санкт-Петербург, Россия</div>
								<a href="" class="my-profile__setting setting">Изменить данные</a>
							</div>
						</div>

					</div>
				</div>
			</section>
			<section class="about-me">
				<div class="about-me__container">
					<h2 class="about-me__title">
						Обо мне
					</h2>
					<div class="about-me__text">Здравствуйте! Я - профессиональный коуч в бизнес сфере с 9 летним опытом. За это время, я помогла более 100 клиентам достичь своих целей и улучшить свой бизнес. Мой опыт включает в себя работу с небольшими стартапами и крупными корпорациями, а также помощь в развитии навыков руководства и управления командами. Моя философия заключается в том, чтобы создать сильную и гибкую основу для достижения успеха в бизнесе. Я верю, что когда люди работают вместе и используют свой потенциал, они могут добиться невероятных результатов. Я стремлюсь помочь своим клиентам стать лучшими версиями себя, находить их истинный потенциал и использовать его для достижения своих целей в бизнесе. Я всегда готова принимать новых клиентов и помочь им на их пути к успеху.</div>
					<a href="" class="about-me__setting setting">Изменить данные</a>
				</div>
			</section>
			<section class="progress">
				<div class="progress__container">
					<h2 class="progress__title">
						Мои успехи
					</h2>
					<ul class="progress__list">
						<li class="progress__item">Я - опытный бизнес-коуч с 9-летним стажем, который специализируется в помощи компаниям и предпринимателям в развитии их бизнеса.</li>
						<li class="progress__item">За свою карьеру я смог помочь более 100 клиентам в реализации их целей и уверенно двигаться по пути успешного развития.ветать.</li>
						<li class="progress__item">Мои ключевые компетенции включают: стратегическое планирование, управление продажами и маркетингом, построение бизнес-моделей, разработку и реализацию проектов.</li>
						<li class="progress__item">В своей работе я использую проверенные и эффективные методики, индивидуальный подход к каждому клиенту и нацеленность на результат.</li>
						<li class="progress__item">Некоторые из моих успехов включают в себя: помощь в увеличении объемов продаж и прибыли, улучшение внутренних процессов компаний, формирование высокоэффективных команд, развитие лидерских качеств у сотрудников и руководителей.</li>
						<li class="progress__item">Я горжусь тем, что многие из моих клиентов стали успешными бизнесменами и руководителями, создали стабильные и преуспевающие компании</li>
						<li class="progress__item">В своей работе я постоянно совершенствую свои навыки, адаптируюсь к изменяющимся трендам рынка и использую новейшие инструменты для эффективной помощи своим клиентам.</li>
						<li class="progress__item">Моя цель - помочь предпринимателям реализовать их мечты и замысел, построить успешные и сильные бизнесы, гармонично развиваться и процветать.</li>
					</ul>
					<a href="" class="progress__setting setting">Изменить данные</a>
				</div>
			</section>
			<section class="profile-time">
				<div class="profile-time__container">
					<h2 class="profile-time__title">
						Время работы
					</h2>
					<div class="profile-time__text">Понедельник-пятница, 00:09-18:00</div>
					<a href="" class="profile-time__setting setting">Изменить данные</a>
				</div>
			</section>
			<section class="profile-entrance">
				<div class="profile-entrance__container">
					<h2 class="profile-entrance__title">
						Вход в личный кабинет
					</h2>
					<div class="profile-entrance__content">
						<div class="profile-entrance__block">
							<p>Логин</p>
							<p>Пороль</p>
							<p>Эл. почта</p>
						</div>
						<div class="profile-entrance__block">
							<p>Логин</p>
							<p>Пороль</p>
							<p>mail@mail.com</p>
						</div>
					</div>
					<a href="" class="profile-entrance__setting setting">Изменить данные</a>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="footer__container">
			</div>
		</footer>
	</div>
	<!-- 
<div id="popup" aria-hidden="true" class="popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close">Закрыть</button>
			<div class="popup__text">
			</div>
		</div>
	</div>
</div>
 -->
	<script src="../static/js/app_couch.min.js?_v=20230403215316"></script>
</body>

</html>