<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Страница</title>
    <link rel="icon" href="/static/favicon.ico">
    <link href="../static/css/style_page.css" rel="stylesheet">
</head>
<body>
<div class="tilesWrapb">
    <ul class="tilesWrap">
        <a href="/itr1">
            <li>
                <h2>01</h2>
                <h3>Знакомство. Блок: «Демография»</h3>
            </li>
        </a>
        <a href="/itr2">
            <li>
                <h2>02</h2>
                <h3>Знакомство. Блок: «Самооценка»</h3>
            </li>
        </a>
        <a href="/itr3">
            <li>
                <h2>03</h2>
                <h3>Знакомство. Блок: «Идентичность»</h3>
            </li>
        </a>
        <a href="/itr4">
            <li>
                <h2>04</h2>
                <h3>Выявление триггеров успеха/алгоритм переживания неудачи</h3>
            </li>
        </a>
        <a href="/itr5">
            <li>
                <h2>05</h2>
                <h3>Диагностика 1. Представление Клиента о краткосрочных целях</h3>
            </li>
        </a>
        <a href="/itr6">
            <li>
                <h2>06</h2>
                <h3>Диагностика 2 «Визуализация цели»</h3>
            </li>
        </a>
        <a href="/itr7">
            <li>
                <h2>07</h2>
                <h3>Диагностика 3 &laquo;Помощь и поддержка&raquo;</h3>
            </li>
        </a>
        <a href="/itr8">
            <li>
                <h2>08</h2>
                <h3>Диагностика 4. Изменения</h3>
            </li>
        </a>
        <a href="/itr9">
            <li>
                <h2>09</h2>
                <h3>Диагностика 5 «Траектория развития цели»</h3>
            </li>
        </a>
        <a href="/itr10">
            <li>
                <h2>10</h2>
                <h3>Диагностика 6 «Траектория Развития Фокус»</h3>
            </li>
        </a>
        <a href="/itr11">
            <li>
                <h2>11</h2>
                <h3>Диагностика 7 «Планирование и контроль»</h3>
            </li>
        </a>
    </ul>
</div>
</body>
</html>
