<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Регистрация</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
</head>
<body>
<div class="background">
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
</div>
<header>
    <div id="window2">
        <div class="form">
            <h2 style="margin-bottom: 15px;">Регистрация администратора</h2>
            <h4  style="margin: 5px; padding: 5px;">{{mes[6]}}</h4>
            <form name="forma" method="post">
                <input type="text" placeholder="Имя пользователя" name="nickname" value = "{{mes[0]}}" required>
                <input type="tel" placeholder="Телефон" pattern="+7([0-9]{3})[0-9]{3}-[0-9]{2}-[0-9]{2}" name="phone" value = "{{mes[1]}}" required>
                <input type="email" placeholder="Электронная почта" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" value = "{{mes[2]}}">
                <input type="date" placeholder="Дата рождения" min="1900-01-01" max="2023-12-31" name="birthdate" value = "{{mes[3]}}">
                <input type="password" id="pass" placeholder="Введите пароль" name="pass" value = "{{mes[4]}}" required>
                <input type="password" id="checkpass" placeholder="Подтвердите пароль" name="checkpass" value = "{{mes[5]}}" required>
                <p style="font-size: x-small;"><input type="checkbox" name="log" required>Согласие на обработку персональных данных</p>
                <p style="font-size: x-small;"><input type="checkbox" name="policy" required>Принимаю <a href="/static/ПользовательскоеСоглашение.docx">Пользовательское соглашение</a></p>
                <input type="submit" value="Зарегистрироваться">
            </form>
        </div>
    </div>
</header>
</body>
</html>
