<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Календарь свободных сессий</title>
        <link rel="icon" href="favicon.ico">
        <style>
        table {
            border-collapse: collapse;
            background: white;
            color: black;
        }

        th,
        td {
            font-weight: bold;
        }

    </style>
    </head>
    <body>
        <div style='clear:both;'></div>
        <script src='https://hesus.ru/hesus/visorJs/id/WKIKwnCY0gaS6_sHnj'></script>
        <iframe id='fhesus4WKIKwnCY0gaS6_sHnj' src='https://hesus.ru/hesus/visor/id/WKIKwnCY0gaS6_sHnj' style='width: 100%;height:586px;margin: 0 auto;display: block;' frameborder=0 marginheight=0 marginwidth=0></iframe>
        <div style='clear:both;'></div>
    </body>
</html>