
@use '../base/variables' as *;

/* overhead ------------------------------ */
.overhead {
  padding: 10px 18px;
  border-radius: $border-radius-main;
  background: #e4e4e7;
  color: #000;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}
